[2016-06-01 19:00] MartyLake opened #6 "Complete the README"
It should contain at least the following sections:
- [ ] What's the problem this project is trying to solve (the final objective)
- [ ] Project description : how this project solves the problem
- [x] Installation procedure / tutorial
- [x] How to contribute to the project

Long texts can be proxied to the wiki.

[2016-10-07 13:24] MartyLake opened #9 "Add option to remove warnings from JUCE"
Atm, when using introjucer, compilers think juce source code is our code. And this library triggers various warnings. As a user, I don't want to adjust the warning level of my project depending on the warnings of the JUCE library, nor fix JUCE library to avoid warnings.

[2016-12-20 08:55] MartyLake opened #20 "Building with no "debug/release" explicitely throws warnings"
steps to reproduce (OSX 10.9):

[code]

warnings generated: "NDEBUG or DEBUG has been defined - you should set one of these to make it clear whether this is a release build," [-W#warnings]
    #warning "Neither NDEBUG or DEBUG has been defined - you should set one of these to make it clear whether this is a release build,""

[2016-12-20 08:56] MartyLake opened #21 "The projucer app built with JUCE.cmake is not retina"
<img width="1680" alt="screen shot 2016-12-20 at 09 56 10" src="https://cloud.githubusercontent.com/assets/1246794/21344162/a2d47ce0-c69a-11e6-9ac5-8531e91baf9b.png">

built with JUCE.camke = not retina

-----------------
<img width="1680" alt="screen shot 2016-12-20 at 09 56 33" src="https://cloud.githubusercontent.com/assets/1246794/21344161/a2d44aae-c69a-11e6-8c56-fc42fb816bd6.png">

built with

[2016-12-20 09:03] MartyLake commented on #21
I tried to modify the Info.plist to add the `High Resolution Capable` tag, with no success.

Joined file extension have been modified (added .txt) to support Github attachement restriction.
[Info JUCE.plist.txt](https://github.com/McMartin/JUCE.cmake/files/663183/Info.JUCE.plist.txt)
[Info JUCE.cmake modified.plist.txt](https://github.com/McMartin/JUCE.cmake/files/663184/Info.JUCE.cmake.modified.p

[2016-12-20 09:09] MartyLake opened #22 "Renaming an app produced by JUCE.cmake breaks the app."
- build helloworld
- launch (OK)
- rename helloworldJUCECmake
- launch (NOK)

same steps only rename the application if built by JUCE.

[2016-12-20 10:05] McMartin commented on #20
You are missing the `BUILD_TYPE` when calling CMake:
[code]
see https://github.com/McMartin/JUCE.cmake/blob/master/.travis.yml#L19.

[2016-12-20 10:05] #20 closed

[2016-12-20 11:12] McMartin commented on #22
@MartyLake: I am not sure I understand completely. Do you mean renaming the app bundle? So here it would be renaming `HelloWorld.app` to something else?

[2016-12-20 11:13] MartyLake commented on #22
Yes!

On 20 Dec 2016 12:12, "Alain Martin" <notifications@github.com> wrote:

[2016-12-20 11:17] McMartin commented on #21
@MartyLake: I don't understand what the two screenshots are showing. Please add some legend.

[2016-12-21 13:31] MartyLake commented on #21
Added legends

[2016-12-21 18:10] McMartin commented on #21
I should have looked at the pictures in their original size, then it's obvious :smile:

[2016-12-21 18:18] MartyLake commented on #21
Indeed ;-)

not important now , just for the record

On 21 Dec 2016 19:10, "Alain Martin" <notifications@github.com> wrote:

[2017-01-13 23:00] McMartin commented on #22
@MartyLake: #19 may have fixed this issue. Can you please try again with the latest `master`? Thanks!

[2017-01-13 23:01] McMartin commented on #21
@MartyLake: #19 should have fixed this issue. Can you please try again with the latest `master`? Thanks!

[2017-01-24 09:39] MartyLake opened #29 "Add a Cmakelinter to prevent Style change commits"
A quick google search got me this result, maybe others are more appropriate ? https://pypi.python.org/pypi/cmakelint/1.3.4

[2017-01-24 10:12] McMartin commented on #29
There is also https://github.com/richq/cmake-lint

[2017-01-24 10:13] McMartin commented on #29
There is also https://pypi.python.org/pypi/polysquare-cmake-linter/0.0.5

[2017-01-31 12:36] McMartin commented on #22
@MartyLake: ping

[2017-01-31 12:36] McMartin commented on #21
@MartyLake: ping

[2017-01-31 21:12] MartyLake commented on #22
Fixed !

[2017-01-31 21:12] #22 closed

[2017-04-19 09:44] McMartin opened #47 "Add CMakeLists.txt file for JUCE/examples/AUv3Synth"
It would only support VST and AU though (not AUv3).

[2017-04-19 09:45] MartyLake commented on #21
Issue fixed !

[2017-04-19 09:45] #21 closed

[2017-04-19 09:46] McMartin opened #48 "Add CMakeLists.txt files for JUCE/examples/PlugInSamples/*"
They should be similar to https://github.com/McMartin/JUCE.cmake/blob/master/examples/audio%20plugin%20demo/CMakeLists.txt

[2017-04-19 10:03] MartyLake commented on #48
- [ ] Arpeggiator
- [ ] GainPlugIn
- [ ] MultiOutSynth
- [ ] NoiseGate
- [ ] Surround

[2017-04-19 10:09] McMartin opened #49 "Introduce .jucer -> CMakeLists.txt converter script"
Add a script called Jucer2CMake.cmake that takes the path to a .jucer project file as input and creates a corresponding CMakeLists.txt file.

This will enable fast adoption and testing in production: one can use Projucer and JUCE.cmake at the same time until they feel confident enough to go full CMake.

[2017-04-19 10:10] McMartin commented on #49
Currently WIP on the branch [Jucer2CMake](https://github.com/McMartin/JUCE.cmake/tree/Jucer2CMake).

[2017-04-19 11:19] MartyLake commented on #48
WIP on branch https://github.com/McMartin/JUCE.cmake/tree/pluginSamplesExamples

[2017-04-19 13:43] McMartin opened #51 "Should we license JUCE.cmake under GPL like JUCE?"
Currently, JUCE.cmake is licensed under [MIT](https://github.com/McMartin/JUCE.cmake/blob/master/LICENSE), but we might want to align it with [JUCE](https://github.com/julianstorer/JUCE), which is mostly licensed under GPL. Since there are only two contributors so far, it should be fairly easy to agree and change the license if that's what we want.

[2017-04-20 10:15] MartyLake commented on #48
Close by https://github.com/McMartin/JUCE.cmake/pull/50

[2017-04-20 10:15] #48 closed

[2017-04-28 16:39] McMartin commented on #51
Resolved in https://github.com/McMartin/JUCE.cmake/pull/57.

[2017-04-28 16:39] #51 closed

[2017-05-04 12:31] MartyLake commented on #49
Should we mark it as done, as we can convert all the examples ? @McMartin

[2017-05-04 12:39] MartyLake commented on #9
There is the "SYSTEM" option for include directories https://cmake.org/cmake/help/v3.0/command/include_directories.html
But I could not find any similar option for add_executable.

[2017-05-04 13:08] McMartin commented on #49
In the end we didn't introduce a converter *script*, but a converter nonetheless, so let's close this.

[2017-05-04 13:08] #49 closed

[2017-05-04 13:24] McMartin opened #74 "Add CMakeLists.txt file for JUCE/extras/windows dll"

[2017-05-04 13:26] McMartin opened #75 "Add script to re-generate all CMakeLists.txt files under Jucer2CMake/generated automatically"

[2017-05-04 13:26] McMartin opened #76 "Check on CI that all CMakeLists.txt files under Jucer2CMake/generated are up-to-date"

[2017-05-04 15:50] MartyLake opened #77 "The "VST3 SDK Folder" exporter setting is not supported"

[2017-05-04 15:53] MartyLake opened #78 "XCODE exporter "Extra preprocessor definition" is not translated"

[2017-05-04 15:53] MartyLake opened #79 "XCODE exporter "Extra compiler flag" is not translated"

[2017-05-04 15:54] MartyLake opened #80 "The "Extra linker flags" exporter setting is not supported"

[2017-05-04 15:54] MartyLake opened #81 "The "External libraries to link" exporter setting is not supported"

[2017-05-04 15:54] MartyLake opened #82 "The "Icon (small)" and "Icon (large)" exporter settings are not supported"

[2017-05-04 15:55] MartyLake opened #83 "The "Icon (large)" exporter setting is not supported"

[2017-05-04 15:55] MartyLake opened #84 "The "Custom Xcode Resource folders" Xcode exporter setting is not supported"

[2017-05-04 15:55] MartyLake opened #85 "The "Custom PList" Xcode exporter setting is not supported"

[2017-05-04 15:55] MartyLake opened #86 "The "Extra Frameworks" Xcode exporter setting is not supported"

[2017-05-04 15:56] MartyLake opened #87 "The "Pre-build shell script" Xcode exporter setting is not supported"

[2017-05-04 15:56] MartyLake opened #88 "The "Post-build shell script" Xcode exporter setting is not supported"

[2017-05-04 15:56] MartyLake opened #89 "The "Development Team ID" Xcode exporter setting is not supported"

[2017-05-04 15:57] MartyLake opened #90 "XCODE exporter "Debug/Header search paths" is not translated"

[2017-05-04 15:57] MartyLake opened #91 "The "Extra library search paths" build configuration setting is not supported"

[2017-05-04 15:58] MartyLake opened #92 "XCODE exporter "Debug/Preprocessor definitions" is not translated"

[2017-05-04 15:58] MartyLake opened #93 "XCODE exporter "Debug/OSX base sdk" is not translated"

[2017-05-04 15:59] MartyLake opened #94 "The "OSX Deployment Target" build configuration setting is not supported"

[2017-05-04 15:59] MartyLake opened #95 "The "OSX Architecture" build configuration setting is not supported"

[2017-05-12 17:46] McMartin commented on #47
Resolved by #100

[2017-05-12 17:46] #47 closed

[2017-05-14 15:15] McMartin commented on #74
Resolved by #102

[2017-05-14 15:15] #74 closed

[2017-05-16 11:55] McMartin commented on #92
Resolved by https://github.com/McMartin/JUCE.cmake/pull/106 and https://github.com/McMartin/JUCE.cmake/pull/109.

[2017-05-16 11:55] #92 closed

[2017-05-16 11:55] McMartin commented on #78
Resolved by https://github.com/McMartin/JUCE.cmake/pull/106.

[2017-05-16 11:55] #78 closed

[2017-05-16 16:55] #79 closed

[2017-05-17 21:52] #90 closed

[2017-05-19 14:11] MartyLake opened #119 "XCODE File "xcode resource" is not translated"
The flag xcode resource seems to be this cmake command
set_source_files_properties(${FILES_RESOURCE} PROPERTIES MACOSX_PACKAGE_LOCATION Resources)
from http://stackoverflow.com/questions/28461853/how-to-add-resource-bundle-into-a-xcode-project-using-cmake

This property can be read in the jucer file at MAINGROUP/GROUP/FILE:: xcodeResource bool attribute

[2017-05-19 15:15] #93 closed

[2017-05-22 15:23] #119 closed

[2017-05-24 16:58] McMartin opened #124 "The "Notes" exporter setting is not supported"

[2017-05-24 17:35] McMartin opened #125 "The "Debug mode" build configuration setting is not supported"

[2017-05-24 18:38] McMartin opened #126 "The "Binary name" build configuration setting is not supported"

[2017-05-24 18:39] McMartin opened #127 "The "Binary location" build configuration setting is not supported"

[2017-05-25 19:51] McMartin opened #128 "The "Notes" build configuration setting is not supported"

[2017-05-25 19:54] McMartin opened #129 "The "Keep custom Xcode schemes" Xcode exporter setting is not supported"

[2017-05-25 20:01] McMartin commented on #94
Solved by #121.

[2017-05-25 20:01] #94 closed

[2017-05-25 20:05] McMartin opened #130 "The "Custom Xcode flags" build configuration setting is not supported"

[2017-05-25 20:06] McMartin opened #131 "The "C++ Language Standard" build configuration setting is not supported"

[2017-05-25 20:06] McMartin opened #132 "The "C++ Library" build configuration setting is not supported"

[2017-05-25 20:07] McMartin opened #133 "The "Code-signing Identity" build configuration setting is not supported"

[2017-05-25 20:07] McMartin opened #134 "The "Relax IEEE compliance" build configuration setting is not supported"

[2017-05-25 20:07] McMartin opened #135 "The "Link-Time Optimisation" build configuration setting is not supported"

[2017-05-25 20:08] McMartin opened #136 "The "Strip local symbols" build configuration setting is not supported"

[2017-05-25 20:11] McMartin opened #137 "The "Platform Toolset" exporter setting is not supported"

[2017-05-25 20:11] McMartin opened #138 "The "Use IPP Library" exporter setting is not supported"

[2017-05-25 20:14] McMartin opened #139 "The "Optimisation" build configuration setting is not supported"

[2017-05-25 20:14] McMartin opened #140 "The "Intermediates path" build configuration setting is not supported"

[2017-05-25 20:14] McMartin opened #141 "The "Warning Level" build configuration setting is not supported"

[2017-05-25 20:15] McMartin opened #142 "The "Warnings/Treat warnings as errors" build configuration setting is not supported"

[2017-05-25 20:15] McMartin opened #143 "The "Runtime Library" build configuration setting is not supported"

[2017-05-25 20:16] McMartin opened #144 "The "Whole Program Optimisation" build configuration setting is not supported"

[2017-05-25 20:16] McMartin opened #145 "The "Incremental Linking" build configuration setting is not supported"

[2017-05-25 20:16] McMartin opened #146 "The "Debug Symbols" build configuration setting is not supported"

[2017-05-25 20:17] McMartin opened #147 "The "Pre-build Command" build configuration setting is not supported"

[2017-05-25 20:17] McMartin opened #148 "The "Post-build Command" build configuration setting is not supported"

[2017-05-25 20:17] McMartin opened #149 "The "Manifest" build configuration setting is not supported"

[2017-05-25 20:18] McMartin opened #150 "The "Character Set" build configuration setting is not supported"

[2017-05-25 20:19] McMartin opened #151 "The "Architecture" build configuration setting is not supported"

[2017-05-25 20:19] McMartin opened #152 "The "Relax IEEE compliance" build configuration setting is not supported"

[2017-05-29 15:48] #75 closed

[2017-05-29 15:48] #76 closed

[2017-05-30 07:38] #87 closed

[2017-05-30 07:38] #88 closed

[2017-05-30 07:40] McMartin opened #157 "The "VST SDK Folder" exporter setting is not supported"
That setting is only relevant when using JUCE before commit https://github.com/WeAreROLI/JUCE/commit/9f31d6498a899dc3c4f8229bfd203737bc9901a1.

[2017-05-30 12:17] McMartin commented on #86
Resolved by #158

[2017-05-30 12:17] #86 closed

[2017-05-30 15:31] McMartin opened #160 "The "Document file extensions" Xcode exporter setting is not supported"
That setting is only relevant for GUI Application projects.

[2017-05-31 10:42] McMartin commented on #83
Merged into #82.

[2017-05-31 10:42] #83 closed

[2017-05-31 10:45] McMartin commented on #82
I did the work on `Jucer2Reprojucer` on the branch [`support-icon-settings`](https://github.com/McMartin/JUCE.cmake/tree/support-icon-settings), but we need to add an executable (`IconBuilder`) that converts `.png`  files into `.icns`  and `.ico`  files.

[2017-06-01 07:52] #141 closed

[2017-06-01 13:25] McMartin opened #164 "The "C++ standard to use" exporter setting is not supported"

[2017-06-01 13:26] McMartin opened #165 "The "pkg-config libraries" exporter setting is not supported"

[2017-06-01 13:29] McMartin opened #166 "The "Architecture" build configuration setting is not supported"

[2017-06-01 13:33] McMartin commented on #77
Reopening the issue since `Jucer2Reprojucer` and `Reprojucer.cmake` don't know that VST3 is not available on Linux.

[2017-06-01 19:22] #95 closed

[2017-06-02 12:03] #77 closed

[2017-06-03 19:55] #124 closed

[2017-06-03 19:55] #128 closed

[2017-06-03 21:53] #131 closed

[2017-06-03 21:53] #164 closed

[2017-06-03 22:16] McMartin opened #174 "The "VST Binary location" build configuration setting is not supported"
This setting is only relevant for VST Audio Plug-in projects.

[2017-06-03 22:18] McMartin opened #175 "The "AU Binary location" build configuration setting is not supported"
This setting is only relevant for AU Audio Plug-in projects.

[2017-06-05 16:33] McMartin commented on #142
Resolved by https://github.com/McMartin/JUCE.cmake/pull/173.

[2017-06-05 16:33] #142 closed

[2017-06-05 20:50] #157 closed

[2017-06-06 08:09] McMartin commented on #137
Resolved by https://github.com/McMartin/JUCE.cmake/pull/180.

[2017-06-06 08:09] #137 closed

[2017-06-07 07:27] McMartin commented on #129
`Reprojucer.cmake` doesn't and won't delete custom Xcode schemes, so there is no need to support this setting.

[2017-06-07 07:27] #129 closed

[2017-06-07 08:58] McMartin commented on #81
Resolved by https://github.com/McMartin/JUCE.cmake/pull/182.

[2017-06-07 08:58] #81 closed

[2017-06-07 12:16] #80 closed

[2017-06-08 08:45] MartyLake commented on #174
We switched to this build system. This issue still modifies the way we worked because Introjucer has been providing a default post build script to install the VST for shorter code-compile-run loop.

[2017-06-08 08:46] MartyLake commented on #175
We switched to this build system. This issue still modifies the way we worked because Introjucer has been providing a default post build script to install the AU for shorter code-compile-run loop.

[2017-06-11 22:34] McMartin commented on #175
@MartyLake: please try the branch [support-binary-location-settings](https://github.com/McMartin/JUCE.cmake/tree/support-binary-location-settings) and tell me if it works for you as expected, thanks!

[2017-06-11 22:34] McMartin commented on #174
@MartyLake: please try the branch [support-binary-location-settings](https://github.com/McMartin/JUCE.cmake/tree/support-binary-location-settings) and tell me if it works for you as expected, thanks!

[2017-06-16 13:24] WGuLL commented on #174
@McMartin Hi ! Unfortunately, it did not work as expected. I got this error:
[code]

[2017-06-16 13:56] McMartin commented on #174
This problem was already reported by @MartyLake here: https://github.com/McMartin/JUCE.cmake/commit/32c7ac4cf5c7d126e3e8703d32ba80ece43d01e6#commitcomment-22485985 and I normally fixed it in the latest version of the branch. @WGuLL, can you make sure that you are using the current version of the branch [support-binary-location-settings](https://github.com/McMartin/JUCE.cmake/tree/support-binary-lo

[2017-06-16 14:25] WGuLL commented on #174
I tried with this commit 94cd2e0 but I had the same error. 9222100 was applied on the version I was using for sure.

[2017-06-16 15:50] McMartin commented on #174
@WGuLL I figured out what was going on and I pushed two next fixup commits (f9f34cee8f60c9f94f3cccb040a28e9cdcf06f28 and 4aee42c36dafd69a7eaf821f53ea908bf9776282).

[2017-06-16 16:59] McMartin commented on #174
@WGuLL: I found more bugs (see #185 for instance) and I fixed them. Please try again with the latest version of the branch (https://github.com/McMartin/JUCE.cmake/tree/support-binary-location-settings), and tell me if something still doesn't work for you, thanks!

[2017-06-17 15:15] #82 closed

[2017-06-19 10:50] #166 closed

[2017-06-19 11:50] WGuLL commented on #174
@McMartin I tried with a0e19f2. Everything seems to work ! Thanks ! 👍

[2017-06-19 12:05] McMartin commented on #174
@WGuLL thank you for testing. I will double-check that the implemented behavior matches what the Projucer does and then open a PR to integrate these changes.

[2017-06-19 12:47] #165 closed

[2017-06-19 16:24] McMartin commented on #174
@WGuLL: I reworked the branch to add making a symlink from the build folder to the VST Binary location like the Projucer does. Please have a look at https://github.com/McMartin/JUCE.cmake/pull/190.

[2017-06-20 08:49] #151 closed

[2017-06-20 13:18] #134 closed

[2017-06-20 13:18] #152 closed

[2017-06-20 15:01] WGuLL opened #193 "Missing xcode resource not ignored on Windows."
Our project has a generated file used as an xcode resource on osx. On windows this file is not generated.
On windows, project generation fails because the xcode resource is missing. A work around for this issue is to generate an empty file in place of the resource before generating the project.

[2017-06-20 15:17] McMartin commented on #193
@WGuLL: I am sorry for that bug. It should be fixed by https://github.com/McMartin/JUCE.cmake/pull/194,

[2017-06-20 16:16] #193 closed

[2017-06-22 17:06] #125 closed

[2017-06-26 20:41] #174 closed

[2017-06-26 20:41] #175 closed

[2017-06-27 15:31] #143 closed

[2017-06-27 19:09] McMartin commented on #146
The "Debug Symbols/Force generation of debug symbols" setting has no impact on the arguments given to the compiler for Visual Studio 2013 and Visual Studio 2015. Thus it doesn't make sense to support this setting.

[2017-06-27 19:09] #146 closed

[2017-06-28 10:21] #144 closed

[2017-07-07 08:32] #126 closed

[2017-07-07 14:01] McMartin commented on #140
CMake doesn't allow to choose the `IntDir` property of the generated Visual Studio project, so `Reprojucer.cmake` won't support that setting.

[2017-07-07 14:01] #140 closed

[2017-07-07 14:05] McMartin commented on #160
Depends on #85.

[2017-07-07 14:06] McMartin commented on #89
This setting is only relevant for GUI Application and Audio Plug-In projects.

[2017-07-07 14:20] McMartin commented on #89
CMake doesn't seem to support a way to set TargetAttributes in Xcode...

[2017-07-11 16:55] #139 closed

[2017-07-11 18:06] #147 closed

[2017-07-11 18:06] #148 closed

[2017-07-11 19:15] #150 closed

[2017-07-11 20:51] #91 closed

[2017-07-12 06:10] #149 closed

[2017-07-12 15:27] #145 closed

[2017-07-18 08:16] #132 closed

[2017-07-20 10:22] WGuLL opened #218 "PkgInfo file for vst bundles."
Hi @McMartin !
It seems that the projucer is generating a pkginfo file automatically for VST and AU bundles.
According to this link: https://ccrma.stanford.edu/~kapilkm/220c/Vst_XCode.html:
```Create a blank text file in the ‘Resources’ section, put BNDL???? in it, and save it as PkgInfo. This is to make sure the OS X Finder sees the plugin as an actual executable, and not just another folder of s

[2017-07-20 10:55] McMartin commented on #218
Hi @WGuLL

Indeed, `Projucer` sets the Xcode flag `GENERATE_PKGINFO_FILE = YES` for VST and AU targets. I'll have a look at what Xcode does exactly when this flag is set, and I will add that to `Reprojucer.cmake`.

Thanks for reporting!

[2017-07-20 13:41] McMartin commented on #218
@WGuLL: I built `JuceDemoPlugin` using `Reprojucer.cmake`, and the VST bundle has a `PkgInfo` file with the expected content. The AU bundle doesn't have that file. Can you confirm that you are seeing the same thing with your plugin?

[2017-07-20 16:41] #218 closed

[2017-07-21 16:56] #135 closed

[2017-07-21 17:45] #136 closed

[2017-07-26 22:15] #84 closed

[2017-07-28 14:13] Pwera opened #228 "Add MinGW support"
Add MinGW support

[2017-07-28 14:44] McMartin commented on #228
@Pwera: thanks for opening this issue!

To help me add MinGW support, I would like you to answer the following questions:

- Which version of MinGW are you using? Where can I download it?
- Which version of JUCE are you using?
- Are you using the Code::Blocks project generated by Projucer?
- Do you have an open-source JUCE project that you are building with MinGW?

[2017-08-02 20:36] #160 closed

[2017-08-02 22:11] #85 closed

[2017-08-23 16:22] #127 closed

[2017-10-10 15:20] Xav83 opened #246 "Problem with prebuild script and post build script on Windows"
Hi @McMartin,
It seems that there is a problem with the prebuild and postbuild scripts on the Windows Toolchain, in Release Mode. The symptom is an invalid command line in the vcxproj file in the pre/post build script field:
`"" <path>\build\Release\postbuild_Release.cmd`
instead of
`call <path>\build\Release\postbuild_Release.cmd`.
We looked for the commit which trigger this bug, and found that [

[2017-10-10 20:04] McMartin commented on #246
Hi @Xav83,
Thank you very much for the very detailed problem description. Thank you even more for finding the origin of the bug. You rock!
#247 does what you expect.

[2017-10-11 09:10] Xav83 commented on #246
I reviewed the PR #247 and tried it on our project ! Everything works fine !

[2017-10-11 09:54] #246 closed

[2017-10-14 12:12] #133 closed

[2017-10-14 12:48] McMartin opened #251 "Reprojucer.cmake doesn't support the setting DEVELOPMENT_TEAM_ID"
If you would like `Reprojucer.cmake` to support the setting `DEVELOPMENT_TEAM_ID` ("Development Team ID" in Projucer), please leave a comment on this issue.

[2017-10-14 12:49] McMartin opened #252 "Reprojucer.cmake doesn't support the setting USE_IPP_LIBRARY"
If you would like `Reprojucer.cmake` to support the setting `USE_IPP_LIBRARY` ("Use IPP Library" in Projucer), please leave a comment on this issue.

[2017-10-15 08:38] #89 closed

[2017-10-15 08:38] #138 closed

[2017-10-15 21:59] #130 closed

[2017-10-29 13:55] McMartin opened #266 "Reprojucer.cmake doesn't support building RTAS plugins"
If you would like `Reprojucer.cmake` to support building RTAS plugins, please leave a comment on this issue.

[2017-10-29 13:56] McMartin opened #267 "Reprojucer.cmake doesn't support building AAX plugins"
If you would like `Reprojucer.cmake` to support building AAX plugins, please leave a comment on this issue.

[2017-12-18 16:35] Xav83 opened #292 "Link issue with JUCE 5.2.0"
Hi @McMartin !

We've recently trying to upgrade the JUCE version on our project from the version 4.3 to the version 5.2.0, and we have encountered a problem on Windows, with Visual Studio 2015.
In our project, we are building the vst and the vst3 version of our plugin, everything is compiling fine, but during the linking, an error occurs :
`include_juce_audio_plugin_client_VST3.obj : error LNK200

[2017-12-18 16:36] Xav83 commented on #292
I forgot to mention, we've also updated the FRUT version to the current master ! 😃

[2017-12-18 16:50] McMartin commented on #292
@Xav83 as usual, thanks a lot for the detailed bug report.

You are hitting the limitations of FRUT wrt. using JUCE 5... As mentioned on the README (https://github.com/McMartin/FRUT#requirements), JUCE 5 support is still experimental.

I am working on a branch that improves the JUCE 5 support and should fix you issue. What is your ideal time frame to switch to JUCE 5 (if you reply "yesterday", I'l

[2017-12-18 17:25] Xav83 commented on #292
@McMartin You're welcome.

I knew that JUCE 5 support is still experimental, but I wanted to see if our project will work with it.
FYI, we haven't faced any problem on OSX, well done ! 👍
I've created this issue to be able to give you some feedback about this update attempt 😉

Haha If you can make it happen yesterday it will be perfect 😆
Jokes aside, don't worry, if we'd really need to go to Juce 5

[2017-12-22 08:27] #292 closed

[2017-12-22 15:39] Xav83 opened #297 "JUCE 5.2.0 C++ standard version"
Hi @McMartin,

I post this issue to report you a bug with the last version of FRUT (the one on master) and JUCE 5.2.0. I've tried to integrate FRUT to a project that is using some c++14 features, and the compilation failed when reaching the c++14 code.
I've investigated a little and found that, in the CMaleLists.txt file generated by FRUT, I have the line `CXX_LANGUAGE_STANDARD "Use Default"` for

[2017-12-22 15:41] Xav83 commented on #297
PPS : I forgot to mention that I only tried only the Xcode.

[2017-12-22 15:59] McMartin commented on #297
Hi @Xav83

This "bug" is another limitation of FRUT. In JUCE 5.1.0, the C++ Language Standard setting was moved from the exporters to the project level, but FRUT doesn't know about that new setting yet. This explains why you could only find the "old" values in Jucer2Reprojucer's main.cpp.

I have a work-in-progress branch to support this new setting (https://github.com/McMartin/FRUT/compare/suppor

[2017-12-22 17:07] McMartin commented on #297
@Xav83 I reworked https://github.com/McMartin/FRUT/tree/support-cxx-language-standard-project-setting, it's now in an almost final state. Feel free to try it out!

[2018-01-04 11:14] Xav83 commented on #297
Hi @McMartin

Sorry for the late reply, I was on vacation.
I've just tried the branch `support-cxx-language-standard-project-setting` that you mentioned in your last message, on OSX with Xcode, and the project compiled well with the 3 C++ version (cppLanguageStandard="11", cppLanguageStandard="14" and cppLanguageStandard="latest").

[2018-01-04 14:08] Xav83 commented on #267
One more information about AAX support.
We have updated our project to JUCE 5.2.0 and there is a difference in the way to build the AAX version with the JUCE 4.3.1.

In the version JUCE 4.3.1, we only had to build the scheme `AAXLibrary` of the solution `AAXLibrary.xcodeproj` (cf. the third step in the previous message).
In the version JUCE 5.2.0, we have to build the two schemes of the solution `

[2018-01-21 13:50] Xav83 opened #312 "JUCE 5.2.0 - Xcode Resource"
Hi @McMartin,

I post this issue to report you a bug/limitation with the last version of FRUT (the one on master, `f8aef3c`) and JUCE 5.2.0. The problem comes from the files flagged as "XCode Resource" in the Projucer. When this flag is activated, the file is placed in the subfolder `Contents/Resources` of the generated file (VST/AU/Standalone).
But the problem is that, this resources folder isn't

[2018-01-21 18:32] McMartin commented on #312
@Xav83 thank you very much for the bug report. I'll have a look ASAP.

[2018-01-21 19:06] McMartin commented on #312
I found the issue and I think I fixed it on this branch: https://github.com/McMartin/FRUT/tree/fix-calling-set_source_files_properties. Please let me know whether that works for you.

[2018-01-21 23:53] Xav83 commented on #312
As you said, @McMartin , the work on this branch fixes the problem 👍

[2018-01-22 14:03] #312 closed

[2018-02-08 17:33] #297 closed

[2018-02-22 15:47] Xav83 opened #323 "JUCE 5.2.0 - Icon"
Hi @McMartin,

I post this issue to report you a bug/limitation with the last version of FRUT (the one on master : `0db9b2a`) and JUCE 5.2.0. The problem comes from the `Icon (small)` and `Icon (large)` fields in the Projucer. Indeed, to add an Icon to our standalone application, we added an image (png format) in Projucer and set it in the `Icon (small)` and `Icon (large)` fields, and when we buil

[2018-02-23 07:51] McMartin commented on #323
Hi @Xav83,

Thank you for the bug report. I would like to know a bit more about your setup.

Is this a `GUI Application`, a `Console Application` or the Standalone target of an `Audio Plug-in`?

[2018-02-23 09:26] Xav83 commented on #323
This is the Standalone target of an `Audio Plugin`.

[2018-02-26 23:26] McMartin commented on #323
@Xav83 please try https://github.com/McMartin/FRUT/tree/fix-missing-icons and tell me if that fixes this issue, thanks!

[2018-03-01 10:35] Xav83 commented on #323
I've only tested it on OSX 10.13 with Xcode for now, and it doesn't seems to work.
None of the 3 places where I've mentioned finding the icon has the icon I selected, it's still the default icon : <img width="24" alt="screen shot 2018-03-01 at 11 33 53" src="https://user-images.githubusercontent.com/6787157/36840208-7a35150e-1d44-11e8-9c7d-d3f62f5ceb94.png">

[2018-03-02 11:52] Xav83 commented on #323
@McMartin I've just tested the last version of the `fix-missing-icons` (`992a8f6`) on OSX 10.12 and Windows 10, with Xcode and Visual Studio 2017, it worked perfectly on the first 2 places, as you said :)

[2018-03-02 12:15] McMartin commented on #323
This issue will be automatically closed when I merge https://github.com/McMartin/FRUT/pull/325. @Xav83 feel free to open another issue about the icon of the Xcode targets if it's important to you.

[2018-03-02 12:42] Xav83 commented on #323
It's not important for me. I totally agree with you when you said it's only cosmetic 😄

[2018-03-02 13:34] #323 closed

[2018-03-22 11:07] PioBeat opened #327 "Error Building Project with CMake - CMAKE_MODULE_PATH in CMakeLists.txt not correct"
Hi!

I have the following tools/frameworks installed:
- JUCE v5.2.1
- CMake 3.10.2
- Visual Studio 2017 - Version 15.6.3

The conversion of a *.jucer project to a new CMakeLists.txt file works. When building the project using CMake the following error occurs:
[code]

However, this error can be fixed when manually editing the generated CMakeLists.txt like this:
[code]
**I had to append the `cmake`

[2018-03-22 13:50] McMartin commented on #327
Hi,

Thank you very much for creating this issue!

When calling `Jucer2Reprojucer`, you need to provide two arguments:
- the `.jucer` file you want to convert
- the path to `Reprojucer.cmake`

How did you call `Jucer2Reprojucer` exactly?

In the README, the example command is
[code]
where `MyGreatProject.jucer` is the `.jucer` to convert and `../FRUT/prefix/FRUT/cmake/Reprojucer.cmake` is the path

[2018-03-22 20:05] McMartin commented on #327
@PioBeat I merged https://github.com/McMartin/FRUT/pull/328. I hope that will help you. Feel free to close this issue if it is now solved.

[2018-03-23 07:18] PioBeat commented on #327
Thank you for looking into this issue. The path to ``Reprojucer.cmake`` was missing exactly that part. Now the path in the ``CMakeLists.txt`` file is correct.

The change in #328 is very helpful! I will close this issue now.

[2018-03-23 07:18] #327 closed

[2018-04-03 15:27] Xav83 opened #336 "XCode 9.3 - warning as error in the Reprojucer"
Hi @McMartin,

Five days ago, XCode has published a new release : XCode 9.3 ([Release note here](https://developer.apple.com/library/content/releasenotes/DeveloperTools/RN-Xcode/Chapters/Introduction.html#//apple_ref/doc/uid/TP40001051-CH1-SW1)).
I've tried to use it with JUCE and FRUT, but sadly the Reprojucer doesn't compile with this version of XCode. FYI, previously I was using XCode 9.2 witho

[2018-04-03 23:54] McMartin commented on #336
Hi @Xav83,

Thank you very much for reporting this issue. It should be fixed by https://github.com/McMartin/FRUT/pull/337.

[2018-04-04 00:32] #336 closed

[2018-04-04 09:18] Xav83 commented on #336
It works great ! Thanks ! 😃

[2018-04-15 18:32] PioBeat opened #344 "Add Conan Support"
I want to use [Conan](https://conan.io/) as package manager for JUCE projects.
Using FRUT to build my JUCE projects with CMake is very handy and useful when automating build processes.

Is it possible to integrate it in FRUT when converting a JUCE project with ``Jucer2Reprojucer`` or something alike?
Then we could solely rely on conan as package manager, build and deploy tool alone.

[2018-04-22 11:59] McMartin commented on #344
Hi @PioBeat,

Sorry for the week-long delay. I hope you are not blocked because of this.

What exactly do you expect from Conan support in FRUT?
Do you want to use Conan to get the latest release of FRUT? Then I guess I should start working on making actual releases :smile:
Do you want to use Conan to get the JUCE source files? That wouldn't really belong to FRUT, but I would be happy to drive an

[2018-05-18 08:24] dscheffer opened #347 "Not compiling on Linux with g++ 7.1.0"
Compilation fails on Linux with g++ 7.1.0. Apparently the `-Wextra` compile flag includes the `-Wimplicit-fallthrough` flag which the juce-core module does not comply with which causes compilation to fail because of the `-Werror` flag.

I found that inserting the `-Wno-implicit-fallthrough` option [here](https://github.com/McMartin/FRUT/blob/master/Jucer2Reprojucer/CMakeLists.txt#L204-L210) solves

[2018-05-18 09:58] McMartin commented on #347
Hi @dscheffer,

Inserting `-Wno-implicit-fallthrough` in https://github.com/McMartin/FRUT/blob/master/Jucer2Reprojucer/CMakeLists.txt#L210 is what I would indeed do to "solve" that issue now. Would you like me to do the change or do you want to open a Pull Request?

FRUT doesn't support the Projucer settings introduced in JUCE 5.3+ yet (`Plugin Formats`, `Plugin Characteristics`, etc.). These sett

[2018-05-18 11:16] dscheffer commented on #347
The problems with version 5.3+ are indeed not an issue for me right now. ;)
Other than that I submitted a pull request.

[2018-05-18 14:14] McMartin commented on #347
Resolved by #348.

[2018-05-18 14:14] #347 closed

[2018-05-18 22:38] McMartin commented on #267
@Xav83 I finally took the time to work on building AAX plugins using `Reprojucer.cmake`. I made a branch: https://github.com/McMartin/FRUT/tree/wip/support-building-AAX-plugins. It's still WIP, but you should be able to build something on macOS.
Please give me any feedback!

[2018-05-29 20:05] Xav83 commented on #267
Hi @McMartin ! Sorry for the delay !
I've tried to build our project AAX target with the branch you specified, I've encountered a bug in the Reprojucer which stopped the generation of the solution. After a little debugging, I've found the problem and corrected it. I've put the fix in a patch that I will attach to this comment.
With the fix, everything compiled correctly on the setup I have. FYI, t

[2018-05-29 20:13] McMartin commented on #267
@Xav83 thank you very much for the patch, very good catch! I've amended the branch with your fix. I'll work on the missing parts for Windows soon and ping you again once it's ready for testing.

[2018-05-29 23:31] McMartin commented on #267
@Xav83 I ended up working on the branch right away :smile: Please try the latest version of the branch (https://github.com/McMartin/FRUT/commit/b80a472e8db059926606b730c5668c2bfb6d29ab) on Windows. Thanks!

[2018-06-10 10:58] #267 closed

[2018-06-26 10:28] Xav83 opened #359 "Custom AAX Binary Location"
Hi @McMartin

I've finally been able to have the time to integrate FRUT with AAX support on the projects I'm working on. \o/
The AAX plugin are well generated which is great.

I've only been able to found one problem : when the AAX binary location field is specified in the jucer file (the attribute name in the jucer is `aaxBinaryLocation`), on OSX, then an error is triggered. When nothing is set i

[2018-06-26 20:32] #266 closed

[2018-06-26 21:16] McMartin commented on #359
Hi @Xav83,

I think the problem comes from the dollar sign in `$(HOME)`. Could you confirm that by replacing `$(HOME)/` with `/Users/Xavier/` (assuming your user name is `Xavier`)?

[2018-06-27 06:31] Xav83 commented on #359
@McMartin As you asked, I've tried with an absolute path and it works well for the AAX binary location.
It works well that way, which solve my problem ! 🎆
I don't know if you will address the `$(HOME)` case in this issue or later, so I let you close this issue if you want to handle this case later.
FYI, I've tried to replace `$(HOME)` by `~`, to make the path not depending on the username of the m

[2018-06-27 08:58] McMartin commented on #359
@Xav83 Thanks for trying out and confirming my theory.
Projucer supports `$(HOME)/Library/...`, so Reprojucer.cmake should support it as well.
Could you check whether Projucer also supports `~/Library/...`?

[2018-06-27 10:58] Xav83 commented on #359
I've tried it with the Projucer and also got an error with `~/Library`.

[2018-06-27 19:05] McMartin commented on #359
[Projucer does:](https://github.com/WeAreROLI/JUCE/blob/5.3.2/extras/Projucer/Source/ProjectSaving/jucer_ProjectExport_Xcode.h#L1053-L1054)
[code]
so using `~/Library/...` should work like using `$(HOME)/...`.

This means that Reprojucer.cmake should convert both `$(HOME)/` and `~/` into `$ENV{HOME}/` (which is the CMake way).

[2018-06-28 09:46] Xav83 commented on #359
I've tested the PR #360 and it worked well.
FYI, I looked at the line from the Projucer of your last comment to understand why it did not worked when I tried it. It seems that this code has been added in [Juce 5.2.1](https://github.com/WeAreROLI/JUCE/blob/5.2.1/extras/Projucer/Source/ProjectSaving/jucer_ProjectExport_Xcode.h#L1038), and we are using [Juce 5.2.0](https://github.com/WeAreROLI/JUCE/b

[2018-06-28 12:05] McMartin commented on #359
@Xav83 you are totally right. The code snippet I included in my previous comment was added to Projucer in https://github.com/WeAreROLI/JUCE/commit/3caca8743d1b62c8976cf9457d495e7be82c5b85, which comes after 5.2.0.

[2018-07-03 08:20] #359 closed

[2018-08-20 06:11] IqraShahzad1 opened #373 ".entitlements issue"
Its seems so that there are successful builds with cmake, but I could not find anything to set the sandbox flag that is under the .entitlements in a project.
This means that the project can not be run inside from GarageBand.
Also I could not find anything on .nib extensions

[2018-08-20 20:55] McMartin commented on #373
@IqraShahzad1

Thank you very much for creating this issue!

`Reprojucer.cmake` is not complete and still misses many features of Projucer. As you noticed, it doesn't create any `.entitlements` file yet. By looking at Projucer's code, I saw that `.entitlements` files are only used for Audio Plug-in projects.
What kind of plugin did you try to run inside GarageBand? Was it AUv3 or another plugin fo

[2018-08-21 08:33] rclement opened #375 "Reprojucer.cmake doesn't support the setting PLUGIN_VST3_CATEGORY"
It would be great for `Reprojucer.cmake` to support the setting `PLUGIN_VST3_CATEGORY` ("Plugin VST3 Category" in Projucer).

As of Projucer 5.3.1, this is also a multiple choice value.

Expected output in `AppConfig.h`:
[code]

[2018-08-21 11:07] McMartin commented on #375
@rclement

Thank you very much for opening this issue! I really appreciate that you made the issue title follow the same pattern as #251 and #252.

Making `Reprojucer.cmake` support `PLUGIN_VST3_CATEGORY` is definitely on my radar. However it might require supporting `PLUGIN_FORMATS` and `PLUGIN_CHARACTERISTICS` (also new in Projucer 5.3.1), which are a bit complex to implement, so I can't give an

[2018-08-22 13:05] rclement commented on #375
@McMartin Thanks for your explanation!

I'm sorry but I don't see how `PLUGIN_VST3_CATEGORY` would be related to `PLUGIN_FORMATS` and/or `PLUGIN_CHARACTERISTICS`, at least at FRUT level:

- `PLUGIN_FORMATS` is for the audio plugin format(s) selection: instead of having multiple `BUILD_<FORMAT>` options better to have an extensible list

- `PLUGIN_CHARACTERISTICS` is just some "meta"-options global

[2018-08-22 17:59] McMartin commented on #375
@rclement I apologize, `PLUGIN_VST3_CATEGORY` is indeed not related to `PLUGIN_FORMATS` nor `PLUGIN_CHARACTERISTICS`, I got confused by the fact that these Projucer settings were all introduced in the same commit: https://github.com/WeAreROLI/JUCE/commit/629f2a29797a4274c2bd7a8a23e03bb6f814666d.

In that commit, "Plugin VST3 Category" was added to Projucer and the 3 other similar settings ("Plugin

[2018-09-17 10:07] #375 closed

[2018-09-18 17:03] McMartin commented on #373
I finally got my hands on a Mac! I reworked that code a bit and pushed a new branch named [`wip/support-adding-entitlements-to-AUv3`](https://github.com/McMartin/FRUT/commits/wip/support-adding-entitlements-to-AUv3).

@IqraShahzad1 do you have the time and the capability to try this branch? If not, or if I don't hear from you in the coming week, I think I'll simply merge it.

[2018-10-04 19:15] #373 closed

[2018-10-07 10:28] McMartin opened #394 "Reprojucer.cmake doesn't support the setting PLIST_PREPROCESS"
If you would like `Reprojucer.cmake` to support the setting `PLIST_PREPROCESS` ("PList Preprocess" in Projucer), please leave a comment on this issue.

[2018-10-07 10:28] McMartin opened #395 "Reprojucer.cmake doesn't support the setting IN_APP_PURCHASES_CAPABILITY"
If you would like `Reprojucer.cmake` to support the setting `IN_APP_PURCHASES_CAPABILITY` ("In-App Purchases Capability" in Projucer), please leave a comment on this issue.

[2018-10-07 10:29] McMartin opened #396 "Reprojucer.cmake doesn't support the setting PUSH_NOTIFICATIONS_CAPABILITY"
If you would like `Reprojucer.cmake` to support the setting `PUSH_NOTIFICATIONS_CAPABILITY` ("Push Notifications Capability" in Projucer), please leave a comment on this issue.

[2018-10-10 14:26] rclement opened #398 "AudioUnit plugin not discoverable"
When building an AudioUnit plugin (macOS only) after generating an XCode project using FRUT, the plugin is not discoverable by AU hosts and the Apple validation tool (`auval -a` or `auval -v <type> <plugin> <manufacturer>`).

Generating the same AU plugin using the Projucer does the trick. After some digging, it seems it all boils down to an XCode "Rez" file (or "Carbon resource") not being copied

[2018-10-10 21:00] McMartin commented on #398
@rclement thanks for reporting that issue. Thank you as well for trying to fix it.

I don't have a Mac right now, but I still made a branch to try to fix the issue: [wip/support-Rez-files-in-AU-plugins](https://github.com/McMartin/FRUT/tree/wip/support-Rez-files-in-AU-plugins). I'll test that branch properly once I get my hands on a Mac, but feel free to try it out and to let me know what doesn't

[2018-10-10 22:50] rclement commented on #398
@McMartin Thanks for starting a WIP branch.

I tried your branch, it does:
- Add the ".r" file to the AU target
- Generate, register and run the pre-build script

However, Rez build is failing:

[code]

As `<juce_audio_plugin_client/juce_audio_plugin_client_AU.r>` is expected to be found, I tried adding the JUCE modules folder to the search path:

[code]

The command is generated properly but it s

[2018-10-11 12:35] rclement commented on #398
@McMartin I submitted PR #399 which should fix the Rez file build.

I tested the fix on my own plugin several times, it works on my end.
The AU plugin is now automagically discoverable with `auval` and AU hosts, and passes the full validation.

Please do not hesitate to clean things up, I'm no CMake-expert.

[2018-10-11 14:39] McMartin commented on #398
@rclement I got my hands on a Mac and fixed the remaining issues on my branch. Feel free to give it another try.

[2018-10-11 21:04] rclement commented on #398
@McMartin Wow, you're a CMake wizard! Thanks!

[2018-10-12 18:33] #398 closed

[2018-10-18 11:28] #228 closed

[2018-11-17 03:18] scotchi opened #426 "Release builds set to -march=native on Linux, making them incompatible with many machines"
https://github.com/McMartin/FRUT/blob/282f7204f3bada25ea411e209180a4fa2384de20/cmake/Reprojucer.cmake#L1358

It seems almost certainly wrong to use `-march=native` on release builds since it stands to reason that portable binaries are desired.   Before realizing that FRUT was adding this flag, I spent several hours tracking down why VSTs built on my Linux desktop with this were crashing on startup

[2018-11-17 07:32] McMartin commented on #426
I've just realized that passing `<None>` to `jucer_export_target_configuration` still leads to `-march=native` being passed to the compiler. That's a bug, I'm sorry about that. I think applying the following diff would solve the issue:
[code]

[2018-11-17 08:40] scotchi commented on #426
It still seems to be a very odd choice for a release build.  On Linux, `-march=native` will produce binaries that won't run on other CPUs from the same family -- in this case, my Intel Core i5 (x86-64) desktop produces binaries that my netbooks Intel Pentium N3700 (also x86-64) can't run.  It's basically an unacceptable flag to use on binaries that will be redistributed, and an odd thing to go out

[2018-11-17 10:07] scotchi commented on #426
Oh, and the way I ended up working around it was just with:

`set(JUCER_ARCHITECTURE_FLAG_Release "-march=x86-64")`

[2018-11-17 14:15] McMartin commented on #426
`-march=native` enables all optimizations for the current compiler, so it does makes sense for a release build. However, you are totally right, it shouldn't be used for binaries that will be redistributed.

Doing `set(JUCER_ARCHITECTURE_FLAG_Release "-march=x86-64")` is indeed a very good workaround!

[2018-11-17 20:29] scotchi commented on #426
I won't drag this out much longer, but what use case do you imagine for "-march=native" for release builds?  The only two I can think of are open source packages for source-based Linux distributions (like Gentoo) or deploying server code via source (which seems possible with JUCE, but rather unlikely).

Those seem like far more obscure use cases than building of packages for open source or proprie

[2018-11-17 21:48] McMartin commented on #426
In the context of high performance trading or very CPU intensive simulations, almost all applications. In the context of audio applications and plugins, none indeed.

I can't give you any answer, because I didn't make that choice. The JUCE team did. `Reprojucer.cmake` is here to reproduce the behavior of `Projucer`. I know this is quite frustrating for you since you stopped using `Projucer` for qu

[2018-11-17 21:49] #426 closed

[2018-11-17 22:02] scotchi commented on #426
Yeah, I didn't mean to imply that there's never a use for `-march=native` (I use it myself in projects that are deployed to servers via source), just that it seemed an odd choice a default for desktop audio apps.  I may consider filing a bug with JUCE.  :-)

[2018-12-02 17:41] McMartin opened #440 "Reprojucer.cmake doesn't support the setting MANIFEST_FILE"
If you would like `Reprojucer.cmake` to support the setting `MANIFEST_FILE` ("Manifest file" in Projucer), please leave a comment on this issue.

[2018-12-02 17:44] McMartin opened #441 "Reprojucer.cmake doesn't support the setting ADD_DUPLICATE_RESOURCES_FOLDER_TO_APP_EXTENSION"
If you would like `Reprojucer.cmake` to support the setting `ADD_DUPLICATE_RESOURCES_FOLDER_TO_APP_EXTENSION` ("Add Duplicate Resources Folder to App Extension" in Projucer), please leave a comment on this issue.

[2018-12-02 17:45] McMartin opened #442 "Reprojucer.cmake doesn't support the setting EXTRA_CUSTOM_FRAMEWORKS"
If you would like `Reprojucer.cmake` to support the setting `EXTRA_CUSTOM_FRAMEWORKS` ("Extra Custom Frameworks" in Projucer), please leave a comment on this issue.

[2018-12-02 17:46] McMartin opened #443 "Reprojucer.cmake doesn't support the setting EMBEDDED_FRAMEWORKS"
If you would like `Reprojucer.cmake` to support the setting `EMBEDDED_FRAMEWORKS` ("Embedded Frameworks" in Projucer), please leave a comment on this issue.

[2018-12-02 17:47] McMartin opened #444 "Reprojucer.cmake doesn't support the setting FRAMEWORK_SEARCH_PATHS"
If you would like `Reprojucer.cmake` to support the setting `FRAMEWORK_SEARCH_PATHS` ("Framework Search Paths" in Projucer), please leave a comment on this issue.

[2018-12-02 17:49] McMartin opened #445 "Reprojucer.cmake doesn't support the setting XCODE_SUBPROJECTS"
If you would like `Reprojucer.cmake` to support the setting `XCODE_SUBPROJECTS` ("Xcode Subprojects" in Projucer), please leave a comment on this issue.

[2018-12-05 12:55] MartyLake opened #448 "Support Juce module format's searchpaths"
Hey, we use the module's searchpaths option in our homebaked modules. Can FRUT support this as well ?

[2018-12-16 17:05] #9 closed

[2019-01-16 19:03] scisci opened #458 "iOS and Android Support"
Hi, I got here from this JUCE forum post:

https://forum.juce.com/t/introducing-juce-cmake-build-your-juce-projects-using-cmake/22717

Its quite old so I'm just wondering, are iOS and Android still not supported? If not what is the challenge?

[2019-01-16 22:06] McMartin commented on #458
Hi,

Thank you for your interest in FRUT!

The README lists the [supported exporter targets from Projucer](https://github.com/McMartin/FRUT/tree/a3d2b590bfb94e079c644a5f1a8f729e50018b68#supported-export-targets), and indeed FRUT still doesn't support "Xcode (iOS)" nor "Android".

For iOS, I simply can't do the work alone. I don't own a computer that runs macOS and I don't own an iPhone or iPad. Al

[2019-01-17 03:32] scisci commented on #458
Hi @McMartin that makes sense. if I do end up going with JUCE for an upcoming project I will help out.

One other thing...I haven't actually tried your cmake code, but if I read it right it seems to need a Projucer file to work off. My hope was that a CMake JUCE build could do away with the need to run Projucer at all. I realize some decisions need to be made like whether its going to be an AudioU

[2019-01-17 09:51] McMartin commented on #458
Great! Thanks a lot!

Currently, FRUT only provides `Reprojucer.cmake`, which (as its name suggests) reproduces the behavior of Projucer. So having an existing `.jucer` project file makes things easier. You can use `Jucer2Reprojucer` to convert this `.jucer` file into a read-to-use `CMakeLists.txt` file. However, a `.jucer` file is not required to use `Reprojucer.cmake`. It will take you a bit mor

[2019-01-18 21:38] scisci commented on #458
Awesome, sounds good to me. Sounds like if I want to go through the hard work I can ;). Thaks for working on this. I'll check in again as I mentioned if I end up going the JUCE route.

[2019-01-26 20:38] Pwera commented on #458
What is still missing to reach FindJUCE.cmake to be ready?

[2019-02-06 21:40] McMartin commented on #458
@Pwera I'm sorry for the very late reply. Unfortunately, there is still quite a lot missing to reach a functional `FindJUCE.cmake`. I have a WIP branch with a prototype, but nothing that I would merge into FRUT now or very soon. I'm currently working on turning this prototype into the real thing, but I can't give any ETA yet.

[2019-02-14 19:29] ovenpasta opened #463 "Codeblocks generation error"
Hi, having problems with clion... but also with others...

[code]
Where did the string "Code::Blocks (Linux)" came from?

here is the official string for the generators:
https://cmake.org/cmake/help/latest/generator/CodeBlocks.html#codeblocks

I saw that the code in Reprojucer.cmake improperly uses that string to check for the generator
but it should be "CodeBlocks - Unix Makefiles"...

I've even

[2019-02-14 21:44] McMartin commented on #463
Hi @ovenpasta,

Thanks for giving a try to FRUT!

---

`Code::Blocks (Linux)` is one of the Projucer export targets (also called "exporters") that [`Reprojucer.cmake` supports](https://github.com/McMartin/FRUT/tree/b91b5e2cdff9784019d61dffd2ae7d7da52250ab#supported-export-targets). `Reprojucer.cmake` supports two of these export targets on Linux: `Linux Makefile` and `Code::Blocks (Linux)`.

---

[2019-02-18 15:36] chikashimiyama commented on #6
Hello, I just began to use FRUT. Apologize if this is a wrong place to ask.
I would like to read more about the goal of the project in Readme. What kind of situation you are envisioning.
What I imagined first was to remove producer and  .jucer files completely from the workflow and just use .cpp and .h files of juce project but it was probably my misunderstanding, as far as I read the generated Cm

[2019-02-19 22:56] McMartin commented on #6
Hi @chikashimiyama,

Thanks for using FRUT!

This is definitely missing from the `README` file, and I apologize for that. Writing more documentation for FRUT is on my TODO list.

The choice is yours. You can keep the `.jucer` file as the main project file, and use `Jucer2Reprojucer` to convert it into a `CMakeLists.txt` file on-demand. But you can also decide to eliminate the `.jucer` file and use

[2019-02-19 23:40] chikashimiyama commented on #6
hi, thank you for your detailed answer. now the purpose of keeping that .jucer file is clear.

[2019-02-20 00:10] McMartin commented on #6
I forgot to mention that `Jucer2Reprojucer` itself is an example of a JUCE-based project that uses `Reprojucer.cmake` in its `CMakeLists.txt` file, but doesn't have (and never had) a `.jucer` file. See `Jucer2Reprojucer/CMakeLists.txt`:
https://github.com/McMartin/FRUT/blob/72adc750dcb5cb1cd380898c5c9b0f5e4963cd84/Jucer2Reprojucer/CMakeLists.txt#L59-L64.

[2019-02-20 21:31] chikashimiyama commented on #6
Thank you for your detailed answer!

The reason why I like (modern) CMake is that I can write dependencies between modules in a higher abstraction level, using target_link_library etc. without touching any linker flags and header path etc.
If I make a juce-dependent static library, using reprojucer, and use that static library in a audio plugin project, what's the best practice for associating the

[2019-02-21 18:25] McMartin commented on #6
`Reprojucer.cmake` is really meant to reproduce what Projucer does. It is not meant to handle complex cases like yours by default, but it might still be possible. Please create a new issue where you describe the libraries and binaries that you want to build in more details, and we can think together about some solutions. I don't think this kind of advanced usage belong to the `README` file, so we

[2019-02-21 20:25] chikashimiyama opened #465 "Best practice for a modularized large scale project"
I really like modularizing my projects, for example, If I build a VST plugin, I would structurize the entire project as follows.
A - dspCore (static library requires juce)
B - dspCoreTestHost (UnitTest project for testing A. requires googletest)
C - guiCore (static library requires juce)
D - guiCoreTestHost (A standalone project for testing C.)
E - PlugIn (uses A, C, and juce)

In which I would bu

[2019-03-02 00:14] McMartin commented on #465
@chikashimiyama sorry for taking so long to reply, but I didn't want to get back to you without a concrete answer.

I pushed a branch called [`example-for-issue-465`](https://github.com/McMartin/FRUT/tree/example-for-issue-465), where I added an extremely simplified example of a project containing the 5 targets you described, using Reprojucer: https://github.com/McMartin/FRUT/tree/example-for-issu

[2019-03-02 07:32] chikashimiyama commented on #465
Cool. Thank you very much!
I will take a look at it!

[2019-03-19 17:23] stijnfrishert commented on #444
Yes, would like this!

[2019-03-19 17:23] stijnfrishert commented on #442
Yeap, would like this!

[2019-03-19 17:26] stijnfrishert commented on #251
Don't necessarily need this (signing could be done with a post-build script), but would be nice to have anyway.

[2019-03-19 17:30] stijnfrishert opened #473 "Default architecture is i386, while through the Projucer it isn't"
When using FRUT to generate an XCode project through my generated CMakeLists.txt, Xcode throws up the following error:

    error: The i386 architecture is deprecated. You should update your ARCHS build setting to remove the i386 architecture.

When I generate an XCode project from my Projucer directly, the architecture is fine.

The OSX Architecture field in my Projucer is set to Default. When I

[2019-03-19 22:26] McMartin commented on #473
@stijnfrishert thanks for trying out FRUT and creating that issue!

Projucer sets a lot of Xcode settings, and I admit that I didn't make `Reprojucer.cmake` set all of them in the exact same way. However, I think I found the Xcode setting that `Reprojucer.cmake` doesn't set that is responsible for that warning. I pushed a branch called [`wip/set-ONLY_ACTIVE_ARCH-Xcode-setting`](https://github.com/

[2019-03-20 08:04] stijnfrishert commented on #473
Yes, that works! Thanks for the quick reaction. :)

Project still doesn't fully build to missing frameworks, but that's another issue. Architecture works as expected now.

[2019-03-20 22:09] McMartin commented on #473
As explained in https://github.com/McMartin/FRUT/pull/474#issuecomment-475041586, the changes I did on the branch `wip/set-ONLY_ACTIVE_ARCH-Xcode-setting` were not correct. So let's take a step back and try to understand what is really going on:
- which version of macOS, Xcode and CMake are you using?
- what kind of project are you building?
  - if you can, please attach the `CMakeLists.txt` gener

[2019-03-21 08:35] stijnfrishert commented on #473
Ok, I'll rerun this when I find the time! Just upgraded that system to Mojave yesterday actually, so the situation might've changed too.

[2019-03-21 14:18] brettbuddin commented on #251
@stijnfrishert Do you have a good example of this? I'm interested in signing after I've produced my artifacts, but I can't find a whole lot of documentation on doing it in post.

[2019-03-21 16:06] brettbuddin commented on #251
Ah figured it out. I wasn't aware of the separate `codesign` tool.

[2019-03-21 19:47] stijnfrishert commented on #251
Yeap, that's basically it! :)

[2019-03-22 12:02] #6 closed

[2019-03-22 15:31] stijnfrishert commented on #473
Ok, ran through the process on my development machine. Followed the exact same steps as outlined in your readme, except for a different location of -DJUCE_ROOT. Used the most recent version of FRUT I could find on the master branch.

 - macOS 10.13.6 (High Sierra)
 - XCode 10.1 (10B61)
 - CMake 3.13.4

Not sure what changed, but building now works (up to using custom frameworks #442). The Xcode pr

[2019-03-22 16:46] McMartin commented on #473
That's totally up to you. You can keep this issue open if you intend to check on your Macbook Air, or you can close this issue if you're fine with the current state of affairs.

That's definitely on my short-term TODO list.

[2019-03-23 13:20] paulfd commented on #458
I'm sorry for hijacking this... Concerning the need for Projucer, does this mean that once I turned the jucer file into a CMakeList I can somehow treat it as a standard CMakeList and manually add e.g. new source files or targets?

[2019-03-24 21:27] stijnfrishert commented on #473
Alright, tried again on my MBA, and the problem rears its head again. :)

System specs:
 - macOS 10.14.3 (Mojave)
 - XCode 10.1 (10B61)
 - CMake 3.13.4

In other words, the only thing that has changed is my macOS version.
Running `cmake -G Xcode ..` and then `cmake --build .` gives the following error:

    Check dependencies
    error: The i386 architecture is deprecated. You should update your A

[2019-03-24 21:28] stijnfrishert commented on #473
Great to hear! I'd be fine with using the unix makefile gen, but the Projucer doesn't let you set specific macOS build data outside of Xcode projects,  right?

[2019-03-25 09:51] McMartin opened #478 "Concerning the need for Projucer..."
_Originally posted by @paulfd in https://github.com/McMartin/FRUT/issues/458#issuecomment-475869212_:

[2019-03-25 10:02] McMartin commented on #478
@paulfd

Thanks for your interest in FRUT!

Once you have converted a `.jucer` file into a `CMakeLists.txt` file, you can indeed treat the generated `CMakeLists.txt` file as the "single source of truth". You can stop using the `.jucer` file and Projucer. You can even delete the `.jucer` file (but only after you're 100% sure that FRUT does things the way you want). You can manually add new source f

[2019-03-25 10:17] McMartin commented on #473
I guess `xcodebuild` behaves differently on macOS 10.14 than on macOS 10.13, since the 10.14 SDK doesn't support 32-bit anymore. I'll try to get my hands on a Mac that runs macOS 10.14 to reproduce, but it might take me quite a while...

Using the Unix Makefiles generator would indeed be a good workaround to the `xcodebuild` issue, but I don't understand your question. What kind of "macOS build da

[2019-04-03 21:36] #442 closed

[2019-04-03 21:36] #444 closed

[2019-04-04 10:57] paulfd commented on #478
Ho ok there are github "question" labels, didn't know ; I'm a bit of a newbie :) Thanks for the reply

I ended up going fully manual, if only to understand CMake a bit better. In the end if you have simple projects it's not too hard. If anyone is interested it kinda boils down to this:
[code]
You can then use `target_link_libraries(${PROJECT_NAME}_Standalone JUCE)` to target the JUCE library, with

[2019-04-29 08:23] czyjerry opened #488 "can't create Visual Studio 2017 x64 Architecture"
I use FRUT to create Visual Studio 2017 projects, but I only got the "Win32" but failed to create the "x64" configuration architecture, even if I specified “# ARCHITECTURE "x64"“ in the jucer_export_target_configuration function explicitly.

Is this a bug, or I'm I missing some steps?

[2019-04-29 12:03] czyjerry commented on #488
I'm sorry, that's my fault.
I did not specify the command line parameter "-A x64" for cmake.

[2019-04-29 12:03] #488 closed

[2019-05-02 13:29] vallant commented on #252
Hi, we would love to try out FRUT for our plugin, but we in fact need IPP! Is there a possibility to add this? :)
This is a great project, it always bothered me that it is necessary to use the Projucer instead of the de-facto standard build system CMake.

Also in perspective of unit testing and CI, the Projucer just leaves too little flexibility.

[2019-05-02 13:44] vallant opened #490 "How to add a Command Line Project to a Plugin Project?"
Hi there!
Thanks again for this great project, i am really looking forward to trying this out!

A little background to the question: I am working on a cross-platform OSX/Windows plugin. I'd like to begin to unit-test it, therefore I'd like to use Catch2. At the moment there is already a Jenkins pipeline running.

I created some basic tests, but with Projucer there is no possiblility to add a comma

[2019-05-02 14:22] vallant commented on #490
Maybe i should open another issue for this, but I have one additional goal by using CMake with JUCE:
I'd love to compile my project with clang under windows *and* osx! This way i would not have problems with different warnings, compiler features ect..

Do you see any hope for this dream? :)

[2019-05-02 20:34] McMartin commented on #252
Hi @vallant,
Thank you for considering FRUT!

IPP is a bit tricky to support since Projucer simply adds a project attribute (https://github.com/WeAreROLI/JUCE/blob/49c631e916a9f0c747348e6fcd092dc6283e0fe9/extras/Projucer/Source/ProjectSaving/jucer_ProjectExport_MSVC.h#L434) and lets Visual Studio do all the actual work :smile:

Could you please compare the compiler and linker command lines with "U

[2019-05-02 21:38] McMartin commented on #490
I guess the easiest way to explain is to show you. I pushed a branch called [`example-for-issue-490`](https://github.com/McMartin/FRUT/tree/example-for-issue-490), which contains 7 commits (so you can have a look at the progression) that result in a super-project (called [`issue-490`](https://github.com/McMartin/FRUT/tree/example-for-issue-490/examples/issue-490)) that combines an Audio Plug-In pr

[2019-05-02 21:49] McMartin commented on #490
It might be quite hard to get it working with the current state of FRUT, which only provides `Reprojucer.cmake` (you might get something working by using the `Code::Block (Windows)` exporter, but it doesn't support "Use IPP Library"...).

However there is hope, since I'm also working on `FindJUCE.cmake`, a "pure CMake" way of building JUCE projects (as I already mentioned when replying to other pe

[2019-05-03 05:02] vallant commented on #252
Hi, thanks for the quick reply!

I'll have a look soon, but now that i think of it, using IPP cannot be more
than linking an additional library, so i guess by setting a IPP_HOME
variable it should be possible to do that. I'll check it soon!

On 2 May 2019 22:35:07 Alain Martin <notifications@github.com> wrote:

[2019-05-03 10:13] czyjerry opened #491 "/LTCG linker option does not turned on in Visual Studio when building a library."
This happens either when I'm using a default Link-Time Optimisation, or when I enable it explicitly.
Can you check this out?
Thank you!

[2019-05-04 10:50] czyjerry commented on #491
Hi! I just found that in a APP project, this issue also exists.
The /GL compile option is in there in release configuration, but the /LTCG linker option is not in there.
This cause every JUCE based and FRUT generated Visual Studio project have linker warning:

when building with Release configuration.

[2019-05-05 12:15] McMartin commented on #491
@czyjerry thank you very much for reporting this bug and for providing all that valuable information! It shouldn't be too hard to fix.

[2019-05-05 14:46] #491 closed

[2019-05-06 08:28] czyjerry commented on #491
Thanks for the fix!
This fix the issue in all the stanalone app projects, and dynamic library projects.
But I found that this issue still exists in static library projects.
Can you check it again?

Thanks!

[2019-05-06 08:37] czyjerry opened #494 "/LTCG linker option does not turned on in Static Library projects"
This is a remaining problem for issue: #491 after pull request: #492
The detail of this issue is also stated in the issue and pull request mentioned above.

[2019-05-06 21:46] McMartin commented on #494
@czyjerry thank you very much for opening this issue! I'm sorry for trying to solve #491 too fast with #492 and in the end missing almost half of the fix...

[2019-05-06 23:01] czyjerry commented on #494
This runs perfectly!
Now all types of JUCE based project can have this /LTCG linker flag in Release configuration.
Thank you very much!

[2019-05-07 10:05] #494 closed

[2019-05-07 18:52] vallant commented on #490
Thank you a lot for your reply! This is awesome, i love how supportive you are :+1:

Regarding the `FindJUCE.cmake`, is there anything I could help you with? I am a CMake beginner, but I'm keen on learning more about it for quite a time now! I have access to a Windows, Unix and Linux machine, so maybe i could at least help you test things?

[2019-05-07 20:47] McMartin opened #496 "Reprojucer.cmake doesn't support the setting USE_HARDENED_RUNTIME"
If you would like `Reprojucer.cmake` to support the setting `USE_HARDENED_RUNTIME` ("Use Hardened Runtime" in Projucer), please leave a comment on this issue.

[2019-05-07 20:48] McMartin opened #497 "Reprojucer.cmake doesn't support the setting USE_APP_SANDBOX"
If you would like `Reprojucer.cmake` to support the setting `USE_APP_SANDBOX` ("Use App Sandbox" in Projucer), please leave a comment on this issue.

[2019-05-07 20:51] McMartin opened #498 "Reprojucer.cmake doesn't support the setting EXPORTER_BUNDLE_IDENTIFIER"
If you would like `Reprojucer.cmake` to support the setting `EXPORTER_BUNDLE_IDENTIFIER` ("Exporter Bundle Identifier" in Projucer), please leave a comment on this issue.

[2019-05-07 20:52] McMartin opened #499 "Reprojucer.cmake doesn't support the setting POST_EXPORT_SHELL_COMMAND_MACOS_LINUX"
If you would like `Reprojucer.cmake` to support the setting `POST_EXPORT_SHELL_COMMAND_MACOS_LINUX` ("Post-Export Shell Command (macOS, Linux)" in Projucer), please leave a comment on this issue.

[2019-05-07 20:53] McMartin opened #500 "Reprojucer.cmake doesn't support the setting POST_EXPORT_SHELL_COMMAND_WINDOWS"
If you would like `Reprojucer.cmake` to support the setting `POST_EXPORT_SHELL_COMMAND_WINDOWS` ("Post-Export Shell Command (Windows)" in Projucer), please leave a comment on this issue.

[2019-05-15 08:12] vallant commented on #252
Ok this is what i found out- the only thing the `USE_IPP_LIBRARY` changes are the include and library directories, when enabling IPP is that `$(IPPIncludeDir);` is added to the include Directories and `$(IPPLibDir);` is added to the library directories. Note that the lib is only added to the shared code and inherited from the plugin-projects, while the include is added for all projects.

This also

[2019-05-19 10:02] McMartin commented on #252
@vallant thanks for this very useful information! However, it seems that we still have 8 cells to fill in the following table:

| "Use IPP Library" setting in Projucer  | `<UseIntelIPP>...</UseIntelIPP>` setting in .vcxproj file | Include Directories | Library Directories |
|--------------------------------|----------------------|---------------------|-----------------|
| Yes (Default Linking)

[2019-06-04 22:15] McMartin commented on #252
I finally installed Intel IPP on my computer, and did all the experiments I needed to understand what exactly Visual Studio is doing when changing the "Use Intel® IPP" setting. I found out that a compile definition (either `_IPP_SEQUENTIAL_DYNAMIC`, `_IPP_PARALLEL_DYNAMIC`, `_IPP_SEQUENTIAL_STATIC`, or `_IPP_PARALLEL_STATIC`) is passed to the compiler, in order to then link against the right versi

[2019-06-05 13:43] #252 closed

[2019-06-25 10:00] czyjerry opened #507 "FRUT caused Visual Studio to generate LNK1104 linker error when adding extra linker flags to Projucer‘s Visual Studio exporter"
I met a problem here.
When I add a extra linker flag "\ignore:4049" to Projucer‘s Visual Studio exporter, and build the Visual Studio solution generated by FRUT and CMake, the VS generates a fatal link error: "LINK : fatal error LNK1104: cannot open file '\ignore:4049.obj'".
Obviously, there is something wrong with FRUT parsing the extra linker flag incorrectly.
So can you fix it?
Thanks!

[2019-06-25 22:06] McMartin commented on #507
`\ignore:4049` is not a valid linker flag, but I guess you actually passed `/ignore:4049`.
CMake treats the forward slash (`/`) as a path separator and thinks that you are specifying a path to a library to link.
MSVC accepts both a forward slash (`/`) and a dash (`-`) as an option specifier, so you could write `-ignore:4049` instead.
I guess `Reprojucer.cmake` could "be smart" and replace the forw

[2019-06-26 03:53] czyjerry commented on #507
Oh yes, I was using "/ignore:4049". And I have tested using "-ignore:4049" instead, and everythings fine.
Since my problem has been solved by such a "workaround" kind of approach, it's fine if you don't have time to deal with this conversion. However, such problems may also cause problems for other people, so I personally recommend doing this conversion in FRUT (either in Reprojucer.cmake or in Ju

[2019-09-13 10:19] franklange opened #510 "Compilation error when using JUCE 5.4.4"
Hi,
currently FRUT doesn't seem to compile with JUCE 5.4.4.
The issue seems to be that JUCE switched from using its own `juce::ScopedPointer` to using the STL's `std::unique_ptr`. Unfortunately this means that the return type of a couple of JUCE functions have changed and now cause compilation errors when building the tools provided by FRUT.

[2019-09-14 16:38] McMartin commented on #510
Hi @franklange,

Thank you very much for creating this issue and reporting that problem. I opened https://github.com/McMartin/FRUT/pull/511 to fix it. Sorry for the inconvenience, I'll try to follow releases of JUCE a bit more closely in the future.

[2019-09-15 08:11] #510 closed

[2019-09-15 20:30] McMartin opened #512 "Failed to build and install FRUT"
If you are following the steps of the [_Getting started_ section of the `README`](https://github.com/McMartin/FRUT/tree/direct-to-GitHub-on-build-failure#getting-started), but you are unable to successfully build and install FRUT, please write a new comment at the end of this issue to report it. You can write a comment even if the issue is closed, however it won't re-open it automatically.

[2019-09-15 20:30] #512 closed

[2019-09-15 20:31] McMartin opened #513 "Failed to build and install BinaryDataBuilder"
When `Reprojucer.cmake` fails to build and install `BinaryDataBuilder`, it prints the following error message:

[code]

If you are getting this error message when configuring one of your projects, please write a new comment at the end of this issue to report it. You can write a comment even if the issue is closed, however it won't re-open it automatically.

[2019-09-15 20:32] McMartin opened #514 "Failed to build and install IconBuilder"
When `Reprojucer.cmake` fails to build and install `IconBuilder`, it prints the following error message:

[code]

If you are getting this error message when configuring one of your projects, please write a new comment at the end of this issue to report it. You can write a comment even if the issue is closed, however it won't re-open it automatically.

[2019-09-15 20:32] #514 closed

[2019-09-15 20:32] McMartin opened #515 "Failed to build and install PListMerger"
When `Reprojucer.cmake` fails to build and install `PListMerger`, it prints the following error message:

[code]

If you are getting this error message when configuring one of your projects, please write a new comment at the end of this issue to report it. You can write a comment even if the issue is closed, however it won't re-open it automatically.

[2019-09-15 20:32] #515 closed

[2019-09-17 15:48] TheSlowGrowth opened #517 "Static libraries in JUCE modules don't end up in the linker flags"
I have a JUCE module `myJuceModule` that contains static libraries (according to the JUCE module header documentation). I have a project `myProject` that uses this module. It works just fine when using the Projucer.

When I migrate  `myProject` with `Jucer2Reprojucer` the static libraries from `myJuceModule` don't end up in the "Other Linker Flags" setting in XCode. Include paths are fine and the

[2019-09-17 15:50] TheSlowGrowth opened #518 "CXX_LANGUAGE_STANDARD is not migrated by `Jucer2Reprojucer`"
I converted an existing project with `Jucer2Reprojucer`. The CXX_LANGUAGE_STANDARD is not migrated and appears as an empty, commented-out setting in the generated CMakeLists.txt.

[2019-09-17 21:21] McMartin commented on #518
Hi @TheSlowGrowth,

Thank you for using FRUT and opening this issue!

Based on what you described, I guess you set `C++ Language Standard` to `C++17` in Projucer, but `Jucer2Reprojucer` doesn't know that it is a valid value and converts it to the empty string:
https://github.com/McMartin/FRUT/blob/e7e05281d8d3be58918da7817c6b987f19e31230/Jucer2Reprojucer/main.cpp#L697-L711

However, `Reprojucer.cm

[2019-09-17 21:33] McMartin commented on #517
Hi @TheSlowGrowth,

Thank you for opening this issue!

`Reprojucer.cmake` doesn't support the JUCE Module Format completely, and I'm usually adding missing parts when someone asks for them (for instance, support for the `searchpaths` setting was added in https://github.com/McMartin/FRUT/pull/449 after being requested in https://github.com/McMartin/FRUT/issues/448).

I don't know when exactly I'll

[2019-09-18 12:44] TheSlowGrowth opened #520 "Certain configuration names cause CMake errors"
I converted an existing application to a CMakeLists.txt file using `Jucer2Reproducer`. The original application contained exporter configurations with these names:

[code]

The generated CMakeLists.txt thus contains lines like these:
[code]

When running cmake I get these errors:
[code]

If I remove the spaces and brackets so that the names are `Debug32bit`. `Release64bit`, etc. the error disappea

[2019-09-18 12:56] #518 closed

[2019-09-18 21:01] McMartin commented on #520
I found out that since [its introduction in 2012](https://gitlab.kitware.com/cmake/cmake/commit/9d9f616792ee07a460af9f0a6dc036d81b852e66#750111181780c34a5649e3ff3bc1150c13010784_28_30) up until [the latest release of CMake](https://gitlab.kitware.com/cmake/cmake/blob/v3.15.3/Source/cmGeneratorExpressionNode.cxx#L886), the `$<CONFIG:cfg>` generator expression requires `cfg` to match the regex `^[A-

[2019-09-19 07:23] TheSlowGrowth commented on #520
Okay, that is weird. The doc clearly states that `>`, `,` and `;` can be escaped in a generator expression. Apparently `$<CONFIG:cfg>` has more strict requirements which are not documented.

I'll try to work a fix into `Jucer2Reproducer` if that's okay. This should be fairly easy to do.

[2019-09-22 16:08] jaquevagon opened #522 "License question"
Hi,

I am looking into building a commercial JUCE plugin but I would like to also use CMake, so I found this repo. But now I'm unsure how this works regarding your license (GPL).
If I generate my plugin's cmake file using FRUT, the generated file will include the Reprojucer.cmake which has a GPL license comment at the top.
Does this mean I would have to open source my plugin's cmake file as well?

[2019-09-23 20:38] McMartin commented on #520
Currently being worked on by @TheSlowGrowth in #521.

[2019-09-24 11:43] TheSlowGrowth opened #525 "Allow finer granularity for precompiled lib paths in JUCE modules"
**Use case:**
A JUCE Module contains precompiled static libraries. It is included in a JUCE project that gets built on different IDE / compiler versions from the same source code.

**Problem:**
On Windows it is possible to have precompiled libraries for different versions of Visual Studio as well as Debug and Release versions in the JUCE module (simply because all these properties appear in the li

[2019-09-24 20:10] McMartin commented on #525
Requires #517 to be resolved first.

[2019-09-24 21:54] McMartin commented on #522
Hi @jaquevagon,

Welcome to FRUT! Thank you for considering using it.

I would like to add a few points to @TheSlowGrowth's reply.

The fact that [`Jucer2Reprojucer`](https://github.com/McMartin/FRUT/tree/dfd36f97e0c654f379d3f7a6034d50be2efef326/Jucer2Reprojucer), [`BinaryDataBuilder`](https://github.com/McMartin/FRUT/tree/dfd36f97e0c654f379d3f7a6034d50be2efef326/cmake/BinaryDataBuilder), and [`Ic

[2019-10-02 21:14] #517 closed

[2019-10-03 17:34] #396 closed

[2019-10-03 17:34] #496 closed

[2019-10-03 17:34] #497 closed

[2019-10-07 01:26] mhetrick commented on #143
Is there any chance of this being supported eventually?

[2019-10-07 01:35] mhetrick opened #533 "Unknown keyword: "Use static runtime""
I accidentally bumped issue #143 when I ran into this, but it looks like FRUT does support this setting.

I'm working on porting one of our projects to a CMake build as a test, and I've run into trouble with our Visual Studio 16 2019 exporter. When calling "cmake .." from the plugin's build directory, the compiler settings are detected correctly, but I then get an error:

[code]

Inside of CMakeLi

[2019-10-07 08:14] McMartin opened #534 "Make Jucer2Reprojucer not write trailing backslashes in CMakeLists.txt"
Trailing backslashes can escape semicolons (`;`) and change how CMake interprets strings as lists. See #533 for an example.

[2019-10-07 08:19] McMartin opened #535 "Make Reprojucer.cmake deal with Windows syntax for environment variable"
`Reprojucer.cmake` should replace `%var%` by `$ENV{var}` in paths (especially binary locations).

[2019-10-07 08:20] McMartin commented on #533
HI @mhetrick,

Thank you very much for testing FRUT!

What you encountered is a quirk of the CMake syntax... The function `jucer_export_target_configuration` has 5 required arguments:
https://github.com/McMartin/FRUT/blob/3052055ec4395676b9d9125b3ad77db6c8d527dc/cmake/Reprojucer.cmake#L1254-L1256
The other arguments (from `EXTRA_LIBRARY_SEARCH_PATHS` to `"Use static runtime"`) are put together in

[2019-10-07 15:14] mhetrick commented on #533
Excellent! Thank you for the fast response and clear explanation. I've used CMake a bit for other projects, but not with enough depth to understand and catch the cases like this.

[2019-10-07 18:05] #533 closed

[2019-10-08 19:03] DustVoice commented on #513
-- Setting CMAKE_BUILD_TYPE to "Debug" as it was not specified.
-- Building and installing BinaryDataBuilder
CMake Error at D:/FRUT/cmake/Reprojucer.cmake:3199 (message):
  Failed to build and install BinaryDataBuilder.  Please report this problem
  by writing a new comment on the following GitHub issue:
  https://github.com/McMartin/FRUT/issues/513
Call Stack (most recent call first):
  D:/FRUT/c

[2019-10-08 19:23] McMartin commented on #513
Hi @DustVoice,

Thanks for trying out FRUT!

Could you please configure this project again from scratch (i.e. without any files generated by CMake around) and reply with the exact command that you ran and the complete output from `cmake`?
Here is an example:
[code]
Knowing a bit more about the CMake generator and the compiler you are using would help me narrow the issue.

Could you also please pro

[2019-10-08 19:28] McMartin commented on #513
In the meantime I'll try to improve the output of `Reprojucer.cmake`, which is indeed quite unhelpful...

[2019-10-08 19:33] DustVoice commented on #513
[code]

[code]

[2019-10-08 19:47] McMartin commented on #513
I'm now downloading MSYS2 to try to reproduce locally, but it's quite slow...

Could you please checkout the branch [`print-output-from-try_compile-when-it-fails`](https://github.com/McMartin/FRUT/tree/print-output-from-try_compile-when-it-fails) in your working copy of FRUT, configure your project again, and report back the complete `cmake` output?
I changed `Reprojucer.cmake` to make it print th

[2019-10-08 20:28] DustVoice commented on #513
[code]

[2019-10-08 20:29] DustVoice commented on #513
I think it's a problem with my system. It somehow does completely fed up shit

[2019-10-08 20:49] McMartin commented on #513
All the errors seem to come from `modules/juce_core/network/juce_Socket.cpp`, which was changed recently in JUCE (https://github.com/WeAreROLI/JUCE/commit/b857f965ce85aa682f3a3475341026b1b25a1fb2).
Could you try using a slightly older commit?

[2019-10-08 21:33] McMartin commented on #513
I finally got MSYS2 and all the MinGW64 packages installed on my machine, and indeed the errors from `modules/juce_core/network/juce_Socket.cpp` go away when I checkout the [previous commit ](https://github.com/WeAreROLI/JUCE/commit/5d7e2190e72b843b3a703a5b6124d458ea72ea23).
I hope this helps!

[2019-10-10 07:15] McMartin commented on #513
@DustVoice I figured out what the issue on the latest JUCE `develop` is and opened a PR to fix it: https://github.com/WeAreROLI/JUCE/pull/604. FRUT should now compile fine with MinGW.

[2019-10-10 15:20] McMartin commented on #513
I experienced the same thing earlier when trying to build FRUT on MSYS2 MinGW 64. I was able to get the linking step to complete (but fail) when removing `juce_gui_basics.cpp` from the sources of `IconBuilder`. I would need more time to investigate this problem and find a solution.

`IconBuilder` is only necessary if you are using the "Icon (Small)" and "Icon (Large)" settings of Projucer. If you

[2019-10-10 15:37] DustVoice commented on #513
Thx for the quick answer. I'll try and build it with my MinGW-w64 installation rather than the MSYS2 version. Also just a quick question: as the build of my project failed because of the binary data builder: What does it actually do? I would be interested in that, so I can understand the process better and maybe try and do it by hand if everything fails. Thanks for the great support btw.

[2019-10-10 15:53] DustVoice commented on #513
I think I now know why it doesn't compile the Icon Builder. It gives the following error:
[code]

In visual studio you have to add the `/bigobj` compiler option in order for JUCE projects to compile correctly. I'll try and search for a MinGW equivalent and try again (this was all done by the "native" MinGW-w64 compiler)

[2019-10-10 15:54] McMartin commented on #513
`BinaryDataBuilder` is used to generate the `BinaryData.{h,cpp}` files from the files that you specified as "Binary Resources" in Projucer. If you don't have any files specified as "Binary Resources" in your project, then you don't need `BinaryDataBuilder`.
However, `BinaryDataBuilder` was originally not building because of `juce_Socket.cpp`, which is part of `juce_core`. Even if you don't build `

[2019-10-10 15:58] McMartin commented on #513
@DustVoice very nice find! I didn't think of using the "pure"/"native" MinGW-w64 toolchain, I only tried with the MSYS2 MinGW-64.

Let me know when you've found how to solve this and I'll help you write a PR to make the required changes.

[2019-10-10 16:04] DustVoice commented on #513
Alright so now I found out that the compiler option for "big object files" (which is ONLY a problem on Windows, who would have guessed) for MinGW is `-Wa,-mbig-obj` where `-Wa,<option>` passes `<option>` to the assembler. It now built completely! Although the linking step took quite a while! Maybe we just have to wait longer with MSYS2, as gcc is (at least in my case) significantly slower in gener

[2019-10-10 16:31] DustVoice commented on #513
Alright. I was successful in building FRUT itself, as mentioned above. When trying to compile my project (using FRUT) I still get the same error though:

[code]

[2019-10-10 16:32] DustVoice commented on #513
My CMakeLists.txt can be found [**here**](https://gist.github.com/DustVoice/9b0ca6861b70d833fa28bcea585f1ddc)

[2019-10-10 18:22] McMartin commented on #513
@DustVoice please make sure you are using a version or commit of JUCE that does compile with MinGW. JUCE's `develop` branch has a few commits that don't build with MinGW. https://github.com/WeAreROLI/JUCE/commit/b857f965ce85aa682f3a3475341026b1b25a1fb2 broke compiling with MinGW, and https://github.com/WeAreROLI/JUCE/commit/170ec47a5e3d0ee40763b02ae9a1d4a659331a26 fixed it.

[2019-10-10 18:30] DustVoice commented on #513
Oh ok thx. I am using the latest development commit of JUCE as you mentioned that this would be fine too. But unfortunately it doesn't seem to work at least in my case. I'll try to user the "before this commit" method and report back, before doing some further investigation at which point the compilation of the binary builder fails.

[2019-10-10 18:47] DustVoice commented on #513
Aah here I have myself some progress. Commit WeAreROLI/JUCE@5d7e219 really does let the BinaryDataBuilder compile.
There still is the "big object error" with IconBuilder, but as this is supposedly needed because of MinGW's fault, I thought that I could include that easily in my CMakeLists.txt, or the Reprojucer.cmake file, like so:
[code]
but it still fails.

Just another question:
What is the bui

[2019-10-10 19:18] McMartin commented on #513
You are right. https://github.com/WeAreROLI/JUCE/commit/170ec47a5e3d0ee40763b02ae9a1d4a659331a26 actually didn't fix compiling with MinGW... 😞 (see https://github.com/WeAreROLI/JUCE/pull/604#issuecomment-540729655). I've open another PR on JUCE to fix compiling with MinGW for real: https://github.com/WeAreROLI/JUCE/pull/605.

Awesome! 🎉

`Reprojucer.cmake` uses the CMake command [`try_compile`](ht

[2019-10-10 19:39] DustVoice commented on #513
With this change and the added `add_compile_options("-Wa,-mbig-obj")` inside my main CMakeLists.txt _(currently with no conditionals thought which should definetely be added, because this doesn't make sense on any other platform other than Windows, as far as I'm concerned and it needs to be `/bigobj` when compiling with MSVC)_, it now compiles fine although it takes **very** long I have to say. I'

[2019-10-10 21:06] McMartin commented on #513
Since you figured out how to fix linking `IconBuilder`, I propose that you fork FRUT and that you make a pull request to add `target_compile_options(IconBuilder PRIVATE "-Wa,-mbig-obj")` to `cmake/IconBuilder/CMakeLists.txt`. That way you'll join the [contributors of FRUT](https://github.com/McMartin/FRUT/tree/4c11c3a88b3830116d4fd9890f27c22229987b96#contributors).

For the rest, I don't think the

[2019-10-10 22:06] DustVoice commented on #513
Thanks. I opened a pull request, as you requested. Also now that it is clear that the target name is the JUCER_PROJECT_NAME, it is as simple as adding the compile options for this specific target, if MinGW is used.
You should definitely consider adding that to the documentation (as long as there is no cmake-compliant syntax, which would make mentioning this obsolete)!

[2019-10-10 22:19] DustVoice commented on #513
[code]

produces the following error:

[code]

Am I missing something here?

[2019-10-11 12:34] DustVoice commented on #513
Changing
[code]
to
[code]

apparently solved the problem in a Projucer-like way. But as you mentioned, you should really strife to make the whole syntax more CMake compatible.

[2019-10-11 16:08] McMartin commented on #513
I'm glad to see that you solved your problem without any pointers from me. Doing it the "Projucer-like way" is indeed the easiest way with `Reprojucer.cmake`.

I'm currently working on iOS support in `Reprojucer.cmake`, but the next big topic will definitely be adding `FindJUCE.cmake` to support a "pure" CMake syntax. Stay tuned!

Since you seem to be successfully building `BinaryDataBuilder` and

[2019-10-11 16:08] #513 closed

[2019-11-01 16:16] #473 closed

[2019-11-03 20:47] McMartin commented on #251
@stijnfrishert, @brettbuddin: #546 is adding support for this setting. Sorry for the very long delay.

[2019-11-04 21:45] #498 closed

[2019-11-04 22:45] #251 closed

[2019-11-05 06:59] #395 closed

[2019-11-05 07:37] #441 closed

[2019-11-06 10:33] McMartin commented on #458
@scisci FYI, iOS support is coming in https://github.com/McMartin/FRUT/pull/551.

[2019-11-11 08:16] kf6kjg commented on #344
Methinks PioBeat was meaning that the generated CMake files would be able to have the conan integration lines pre-included. However there's more than one way to do so: https://docs.conan.io/en/latest/integrations/build_system/cmake.html

[2019-11-14 09:08] McMartin commented on #344
@kf6kjg thanks for joining the conversation!

I don't mind adding an option to `Jucer2Reprojucer` so it writes
[code]
at the top of the generated `CMakeLists.txt` file.
However, I'm still unclear about what would be written in the `conanfile.txt` and what targets would be provided by Conan.

[2019-11-15 17:58] kf6kjg commented on #344
The conanfile stores the dependency information. See https://github.com/HalcyonGrid/aperture/blob/master/conanfile.txt for one I created. It’s typically managed using the Conan CLI tooling and does not have to be auto generated. However I’d probably make the inclusion of the Conan integration dependent on the existence of the conanfile.

From the perspective of CMake integration the Conan stuff is

[2019-11-19 15:55] WGuLL opened #559 "Ignore warning from Juce"
Hi,

I'm using FRUT on the commit 764207c.
The warnings from Juce don't seem to be ignored when I generate our projects with Juce2Reprojucer.
It causes us a lot of trouble since our warning level is more strict.
I wasn't even aware warnings were supposed to be ignored until I saw this #9 ^^
However this issue is pretty old now.

Is there a way to ignore warnings from Juce on the current version?

[2019-11-21 21:03] McMartin commented on #559
Hi @WGuLL,

https://github.com/McMartin/FRUT/issues/9 was resolved by https://github.com/McMartin/FRUT/pull/451, which was merged on December 16, 2018, i.e. 4 months after the commit of FRUT you are currently using.

Then in https://github.com/McMartin/FRUT/pull/493 (merged on May 7, 2019), I added support for per-file compiler flags, like in Projucer.

So there are actually 2 ways in FRUT of deal

[2019-11-21 21:05] McMartin commented on #559
And I almost forgot, thank you very much for keeping on using FRUT! ❤️

[2019-11-27 11:40] WGuLL commented on #559
You're welcome! :D FRUT is awesome!
I'm going to try the first solution and let you know if it works.

[2019-11-29 21:18] dizketto opened #560 "failing because of wrong compiler ?"
[code]
same thing for the _C_ compiler.  Same error. Am I wrong to think it's trying to use MSVC compiler by default ?

[2019-11-29 21:41] dizketto commented on #560
Rectification: don't try to build inside git bash on Windows!
Building from the cmd shell works fine.
Sorry for the fuss.

[2019-11-29 23:02] dizketto commented on #560
Ok.. now is going ok but when I try to generate the Makefiles for my project I get
CMake Error at E:/FRUT/prefix/FRUT/cmake/Reprojucer.cmake:1983 (message):
  You must call jucer_export_target("Code::Blocks (Windows)") before calling
  jucer_project_end().

[2019-11-29 23:11] McMartin commented on #560
Hi @dizketto,

Thanks for using FRUT!

I'm currently at a party where @MartyLake (who reviews all PRs of FRUT) is playing some French House (see https://martylake.com if you're interested), so I don't have a lot of time to help you, but you can read more about the error you are getting here: https://github.com/McMartin/FRUT/issues/463.

I hope this helps!

[2019-12-03 09:07] McMartin commented on #560
Hi @dizketto,

I'm back home after a very busy week in Berlin. I now have more time to help you use FRUT.
Please let me know if you are still facing some problems. Otherwise, I'll close this issue at the beginning of next week. Thanks!

[2019-12-05 11:54] dimitrisudell opened #562 "Rez error compiling AU with Xcode 11.2.1 / OSX 10.15 SDK"
Hello,

I've been assessing FRUT for my current project. Everything has been going great until I tried to build AUs with Xcode 11.2.1 / OSX 10.15 SDK. Compilation fails with the following error.

`### Rez - noErr (0) during open of "AUComponent.r". AudioUnit.r`

I compared the Cmake file Projucer creates using the Clion exporter and noticed there are some differences in the Rez command.

The criti

[2019-12-05 21:31] McMartin commented on #562
Hi @dimitrisudell,

Thanks for giving a try to FRUT!

It will take me a bit of time to get my hands on a machine that runs macOS Catalina with Xcode 11.2, but I'll try to get to the bottom of this issue in a timely manner. To speed-up my investigation, could you please run the following command and give me the result?
[code]
Thanks!

[2019-12-06 10:27] dimitrisudell commented on #562
Hey Alain,

Thanks a lot for your fast feedback.

You don't actually have to be running macOS Catalina, just the latest Xcode which includes the OSX 10.15 SDK.

I am running OSX 10.14.6 and Xcode 11.2.1.

Here is the result of running the find command. Please let me know if I can do anything else to help.

[code]

[2019-12-06 11:16] McMartin commented on #562
I got my hands on a macOS Catalina machine anyway :smile:
I was then able to compare `AudioUnit.r` between the `macosx10.14` and `macosx10.15` SDKs:
[code]

Since `__COREAUDIO_USE_FLAT_INCLUDES__` was _not_ defined, the include behavior between the 10.14 and 10.15 SDKs changed, and indeed we need `/System/Library/Frameworks/AudioUnit.framework/Headers` in the include search path.

I'll work on add

[2019-12-06 21:14] McMartin commented on #562
@dimitrisudell I pushed a branch with a tentative fix: [`fix-running-Rez-with-macosx10.15-SDK`](https://github.com/McMartin/FRUT/tree/fix-running-Rez-with-macosx10.15-SDK). Could you please give it a try and let me know whether that fixes your issue? Thanks!

[2019-12-09 11:00] WGuLL commented on #559
Hi,
I upgraded Juce and added our warnings as a custom compiler flag scheme. It works!

[2019-12-09 11:34] dimitrisudell commented on #562
@McMartin I've just tried that branch out on a few different machines and all look to be working correctly now. 👍

[2019-12-09 13:09] #562 closed

[2019-12-10 08:49] #560 closed

[2019-12-10 08:52] McMartin commented on #559
@WGuLL I guess you reopened the issue by accident, since it was right after closing it. I'll close it now, as you seem to have a working solution.

[2019-12-10 08:52] #559 closed

[2019-12-25 11:25] danra opened #566 "FRUT doesn't consistently find `buildXXX` settings in recent JUCE 5 jucer files"
Looks like only some of the code was updated to handle recent JUCE 5 jucer files which puts the `buildXXX` settings under `pluginFormats` rather than under the root properties of the project.

This causes, for example, building the AAX format with the resulting converted `CMakeLists.txt` file to fail, because the AAX SDK folder never gets written into the file, because the following condition is `

[2019-12-25 12:18] McMartin commented on #566
@danra thanks a lot for trying out FRUT and for reporting this bug. I'll try to fix it ASAP. Feel free to open a PR with a fix if you want.

[2019-12-25 12:26] danra commented on #566
I'll wait for the fix. Thank you!

[2019-12-25 15:44] danra opened #569 "AAX fails to build with deployment target 10.8 on Xcode 11"
Trying to build an AAX plugin using FRUT, on Xcode 11, with a deployment target of 10.8, I'm getting the following error when trying to build using the generate files.
`error: include path for stdlibc++ headers not found; pass ‘-std=libc++’`

Changing the deployment target to something higher seems to eliminate the issue.

I guess the following logic doesn't work correctly in my case:
https://gith

[2019-12-26 00:01] McMartin commented on #569
Here `Reprojucer.cmake` only attempts to reproduce what Projucer does. However, what Projucer does changed throughout the versions.

In 4.2.0, it was:
[code]

Then in https://github.com/WeAreROLI/JUCE/commit/24d02528e034641d1c48fe1ffe1a568d71aa3f72 (a bit before 5.0.0), it became:
[code]

And finally in https://github.com/WeAreROLI/JUCE/commit/c7c26fa9f033c196c48e743deb6ae16e524ff29a (between 5.3.

[2019-12-26 09:08] #566 closed

[2019-12-26 10:59] McMartin commented on #569
@danra I pushed a branch with a tentative fix: [`fix-appending-_libcpp-to-AAX-libraries`](https://github.com/McMartin/FRUT/tree/fix-appending-_libcpp-to-AAX-libraries). Could you please give it a try and let me know whether that solves your problem? Thanks!

[2019-12-29 08:49] danra commented on #569
With deployment target 10.8, I'm now getting
`warning: include path for stdlibc++ headers not found; pass '-stdlib=libc++' on the command line to use the libc++ standard library instead [-Wstdlibcxx-not-found]`

Followed by
[code]

This is whether or not I'm building the AAX format - also getting this with just building standalone.

Not getting this behavior when I set the deployment target to 10.

[2019-12-29 10:12] danra opened #572 "Jucer2Reprojucer fails to parse defines with spaces"
Setting a `JUCERPROJECT`'s `defines` field as `defines="X = 1"` (note the spaces) isn't parsed correctly by Jucer2Reprojucer - it gets interpreted as `-DX` and `-D1`, separately.
This causes the build to fail since `#define 1 1` doesn't (pre-)compile.

[2019-12-29 10:17] McMartin commented on #569
Since https://github.com/WeAreROLI/JUCE/commit/c7c26fa9f, Projucer always selects `libc++` as the standard library. I need to replicate that behavior in `Reprojucer.cmake`. I'll let you know once I'm done with it, I'm pretty sure I will create a new branch.

[2019-12-29 10:37] danra opened #573 "BinaryData.h might be included from two different folders, causing errors"
I had a `JuceLibraryCode` folder with `BinaryData.h` under my root project folder from a previous non-FRUT build, and after building with FRUT also under `build/JuceLibraryCode`.

The two files both got included in some source files, causing variable redefinition errors.

Perhaps add a step to the README suggesting to remove JuceLibraryCode from non-FRUT builds to make sure this doesn't happen?

O

[2019-12-29 12:07] McMartin commented on #572
Good catch!

IIRC, `Reprojucer.cmake` doesn't handle this case properly because the help text in Projucer says

But Projucer still supports having spaces before and after the equal sign, so `Reprojucer.cmake` should do the same.

[2019-12-29 13:35] #572 closed

[2020-01-01 20:57] McMartin commented on #569
Hi @danra,

Happy New Year!

I pushed a new branch to try to fix this issue completely: [`handle-JUCE-5.3.2-targeting-OS-X-10.7-minimum`](https://github.com/McMartin/FRUT/tree/handle-JUCE-5.3.2-targeting-OS-X-10.7-minimum). Could you please test it and let me know if I missed something? Thanks a lot for your help and your patience.

[2020-01-05 11:05] danra commented on #569
It works great!

Thanks!
Dan

[2020-01-10 18:47] julius-richter opened #578 "Including LibTorch distrubution"
Hello there,

first of all, thank you for implementing FRUT, it is very helpful :)

My question is: I want to include the library [LibTorch](https://pytorch.org/cppdocs/) to my JUCE project. The conversion to a cmake file from my .jucer project worked perfectly. Now, in the [tutorial](cpp_export) on how to include LibTorch to my application it is described that I need to write the following CMakeL

[2020-01-11 10:04] McMartin commented on #578
Hi @julius-richter,

Thank you for trying to use FRUT! Please consider starring it to increase its visibility on GitHub.

The lines that you added are completely disconnected from the rest of the contents of the generated `CMakeLists.txt`. You would get the same result by having only these lines in a new `CMakeLists.txt` file.

Now, let's attempt to fix your problem:

- I'm guessing that you want

[2020-01-12 19:28] #569 closed

[2020-01-12 23:13] julius-richter commented on #578
Hi @McMartin,

thank you so much for your help. Now it works.

All the best, Julius

[2020-01-13 06:19] McMartin commented on #578
You're welcome!
Feel free to create new issues if you encounter any problems.
Cheers

[2020-01-13 06:19] #578 closed

[2020-01-13 11:23] julius-richter opened #579 "How to add source files and header files to the target?"
Hello there,

I just started to use FRUT and cmake and I am still struggling with some basics.

Lets say I have a project called `MyProject` with the target `Main.cpp`. How can I add other source files and header files to the target?

For example, lets say I have `utils.cpp` and `utlis.h` in my source directory. What should I write in my `CMakeLists.txt` in order to compile `utils.cpp` and link `M

[2020-01-13 11:46] McMartin commented on #579
Hi Julius,

Listing `Source/utils.cpp` and `Source/utils.h` in the call of `jucer_project_files` as you did is indeed the easiest way to add source files to the target.

However, it seems that only `Main.cpp` is getting compiled.

Could you please change your `CMakeLists.txt` file as follow and let me know what you get?

[code]

[2020-01-13 12:07] julius-richter commented on #579
Hello Alain,

thanks for your quick answer. Actually, I am asking again for my beat tracker application. So `MyProject` is actually `BeatTracker`.

You can find the source code [here](https://github.com/julius-richter/beat_tracker/tree/master/app/BeatTracker).

The output generated is the following:

[code]

[2020-01-13 12:25] McMartin commented on #579
You don't have a build system issue, you have a C++ templates issue. When the compiler compiles `utils.cpp`, it doesn't know what `IntType` is supposed to be, so it doesn't generate any function from the function templates.

You can solve this issue in two ways:
- explicitly specify which functions should be generated, by instantiating the function templates at the bottom of `utils.cpp`:
[code]
-

[2020-01-13 12:30] julius-richter commented on #579
Thank you so much. I already had the presumption that it had to do something with the function templates.

Have a great day!

[2020-01-13 14:44] danra commented on #573
I initially thought this was an issue with my own project, but apparently JUCE's example projects also demonstrate this behavior. All that's needed to reproduce the duplicate definitions error is to first build with the Xcode project exported by the Projucer as usual, then try building with cmake (via FRUT).

[2020-01-13 15:04] danra opened #581 "Error building with Ninja generator on Mac with deployment target of 10.8"
Building projects with a deployment target of 10.8 works fine with the Xcode Generator now that #569 is resolved, but still doesn't when using the Ninja generator.

This is reproducible with JUCE's demo projects (I tested `DemoRunner`), regardless of the built format(s). The Ninja generator starts building fine once you set the deployment target to 10.9 or higher.

The build error messages (at the

[2020-01-13 15:33] McMartin commented on #573
I don't understand how building with the Xcode project exported by Projucer would have any impact on what the CMake-based build system does. Are you using the `Builds/MacOSX` folder as the binary directory for the CMake build?

[2020-01-13 16:25] McMartin commented on #573
I can reproduce the issue when building the `DemoRunner` example from JUCE 5.4.5 in FRUT (https://github.com/McMartin/FRUT/tree/master/generated/JUCE-5.4.5/examples/DemoRunner):

[code]

What is happening in details:
- `DemoRunner/Source/Main.cpp:27` does `#include "../JuceLibraryCode/JuceHeader.h"`. `DemoRunner/JuceLibraryCode/JuceHeader.h` is found by the compiler, relatively to `Main.cpp` itsel

[2020-01-13 17:04] McMartin commented on #581
Hi @danra,

Thanks for reporting this issue!

https://github.com/McMartin/FRUT/issues/569 was incomplete, I opened https://github.com/McMartin/FRUT/pull/582 to fix this issue.

[2020-01-13 20:03] #579 closed

[2020-01-14 08:27] #581 closed

[2020-01-14 14:01] danra opened #583 "Setting "Strip Local Symbols" in Projucer causes ninja build to fail"
Looks like instead of the strip command, the final link command gets appended with a `cd` to the `build` folder followed by `""`, instead of the strip command, which errors out.

Reproducible by generating a clean Audio Plug-in with the Projucer and turning on Strip Local Symbols in the Release configuration.

Seems to work fine with the Xcode generator.

[2020-01-14 14:16] McMartin commented on #583
Thank you so much for discovering and reporting all these bugs! I'll work on a fix ASAP.

[2020-01-14 14:53] McMartin commented on #583
This issue should be fixed by https://github.com/McMartin/FRUT/pull/584.

[2020-01-14 15:05] danra commented on #583
Fixed indeed. Thank you!

[2020-01-17 09:18] julius-richter opened #585 "Include Boost headers directory"
Hello there,

I want to include the Boost libraries in my Juce application. By default, the Boost libraries are located in `/usr/local/Cellar/boost`. Since I just want to use the Boost headers only, I simply need to include the include directory. In the [CMake documentation](https://cmake.org/cmake/help/latest/module/FindBoost.html) I found the following:

Therefore I added

[code]

before `jucer_

[2020-01-17 09:53] McMartin commented on #585
Hi Julius,

What you did in the `CMakeLists.txt` seems totally valid, so I don't understand why it doesn't work...

You could maybe add
[code]
to verify that `Boost_INCLUDE_DIRS` is what you expect.

You could also use a more Modern CMake approach, similar to what you did with Torch:
[code]

I hope this helps!

[2020-01-17 10:08] julius-richter commented on #585
Thank you Alain for your quick answer!

I changed the code according to your suggestions. However, I still get the same error.

The message outputs `Boost_INCLUDE_DIRS = /usr/local/include` which is a existing path as you can see from the terminal copy:

[code]

Any other ideas how to solve this problem?

[2020-01-17 10:25] #583 closed

[2020-01-17 10:31] McMartin commented on #585
You could build with verbosity to see what the exact compiler command line is using:
[code]
or
[code]

[2020-01-18 16:28] McMartin commented on #573
I opened a pull request on JUCE to propose to always include `JuceHeader.h` using `#include <JuceHeader.h>`: https://github.com/WeAreROLI/JUCE/pull/658.

If these changes get merged into JUCE, I will make a pull request on FRUT to:
- change `#include "JuceHeader.h"` to `#include <JuceHeader.h>` in `Jucer2Reprojucer`
- make `Jucer2Reprojucer` scan all source files listed in the `.jucer` project for

[2020-01-18 16:50] McMartin commented on #507
I've reworded the title of the issue to change it from a problem report to an idea for improvement. I don't know when I will work on this though.

[2020-01-18 17:27] czyjerry commented on #507
Awesome!  That couldn't be better!  Many thanks!

[2020-01-20 13:59] julius-richter commented on #585
@McMartin Thank you for the hint.

Actually, I solved the problem by including the absolute path of the boost include directory to the CMakeLists.txt. It is not very elegant, however, it works for the moment.

[code]

[2020-01-20 14:27] McMartin commented on #585
If it works, great!

[2020-01-20 14:27] #585 closed

[2020-01-23 14:35] rorywalsh opened #587 "Incorrect HEADER_SEARCH_PATHS after import..."
Hi @McMartin . I'm excited to get going with this but have a hit a minor issue on the first attempt. The header paths from my Projucer files import correctly. They look like this:

[code]
I can manually edit them and move on from there, but thought it might be worth noting in case I am doing something wrong?

[2020-01-23 14:41] McMartin commented on #587
Hi @rorywalsh,

Thanks a lot for using FRUT!

I think what you are experiencing is a bug in Jucer2Reprojucer. However, it's a bit hard for me to figure out what is wrong... Could you please copy-paste the part of your `.jucer` file that contains the `headerPath` attribute and these 3 paths? I'll try to reproduce the issue then. Thanks!

[2020-01-23 16:32] rorywalsh commented on #587
Here you go:
[code]
I'm sure why, but Producer adds the '&#10' to the paths each time I save my .jucer file. Thanks.

[2020-01-23 16:40] McMartin commented on #587
`&#10;` encodes a New Line (LF) character.

[2020-01-23 16:56] McMartin commented on #587
Unfortunately I can't reproduce... When I put your code into a `.jucer` file and convert it using `Jucer2Reprojucer` I get:
[code]

Could you please give me as much detail as possible wrt. to how you built and ran `Jucer2Reprojucer`, including platform, compiler version, CMake version, CMake generator, JUCE version, FRUT commit, etc.? Maybe there is something platform specific or JUCE version spec

[2020-01-23 17:06] rorywalsh commented on #587
* JUCE 5.4.5
* Cmake 3.16.3
* I downloaded a zip of the FRUT master today
* I'm running -G "Unix Makefiles"
* Platform: Linux 18.04
* gcc (Ubuntu 7.4.0-1ubuntu1~18.04.1) 7.4.0

When you put the paths into your sample Projucer file are you enclosing them in quotes? I tried both with and without and still get the same issues.

To run, I created the folder structure you advise in your instructions, t

[2020-01-23 17:49] McMartin commented on #587
[code]
and
[code]
are not the same thing, and indeed `Jucer2Reprojucer` doesn't handle the second case properly.

With the second case, I can reproduce and I know what to fix. Stay tuned!

[2020-01-23 18:02] rorywalsh commented on #587
Super. Thanks for the speedy support.

[2020-01-23 19:00] McMartin commented on #587
@rorywalsh I opened https://github.com/McMartin/FRUT/pull/588 to fix the issue. Feel free to give it a try.

[2020-01-23 22:53] rorywalsh commented on #587
Super, I'll try it out when I get a chance.

[2020-01-24 04:14] rorywalsh commented on #587
That did the trick. Thanks @McMartin. I'll close this issue out now. Thanks.

[2020-01-24 05:02] rorywalsh opened #589 "FRUT and CLion"
It seems that CLion always calls the CodeBlocks generator when opening a CMake based project :roll_eyes: This causes a cmake error in Reprojucer.cmake, as can be seen in the CLion cmake output below.

[code]
Manually editing the CMakelists file fixes the error, but is there a way to avoid having to change the generated CMakeLists file? In the case of CI builds it's kind of awkward..

[edit] It's t

[2020-01-24 08:45] McMartin commented on #587
Let's keep this issue open until https://github.com/McMartin/FRUT/pull/588 is merged. Merging https://github.com/McMartin/FRUT/pull/588 will automatically close it.

[2020-01-24 09:26] McMartin commented on #589
Then you are lucky not to have any settings that are specific to the `Linux Makefile` exporter and that the `Code::Blocks (Linux)` exporter doesn't support, such as `PKGCONFIG_LIBRARIES`.

I can think of 2 options:
- Make CLion use the `Unix Makefiles` generator instead of the `CodeBlocks - Unix Makefiles` generator. However, I guess CLion is using `CodeBlocks - Unix Makefiles` by default for a go

[2020-01-24 10:23] rorywalsh commented on #589
From what I've [seen](https://youtrack.jetbrains.com/issue/CPP-8813?_ga=2.4780915.1953272572.1579797950-1530438595.1545839813) CLion doesn't let you modify how it works with CMake. So perhaps you needn't waste your time on this?

[2020-01-24 10:27] McMartin commented on #589
The CLion issue you linked to is quite old. CLion does support other CMake generators since version 2019.3 (https://blog.jetbrains.com/clion/2019/10/clion-2019-3-eap-ninja-cmake-generators/). I guess you could give a try to Ninja.

[2020-01-24 14:15] McMartin commented on #589
I reproduced this issue in a VM that runs Ubuntu 18.04.3 and CLion 2019.3.3. I got CMake to work by putting `-G"Unix Makefiles"` or `-G"Ninja"` in the "CMake options" field of the CLion settings.

I think this solution (which is the first option mentioned here: https://github.com/McMartin/FRUT/issues/589#issuecomment-578054662) is perfectly acceptable as long as one can use a version of CLion that

[2020-01-24 14:18] rorywalsh commented on #589
Thanks. I can upgrade, that's not an issue. Great, that's another tick in
the pros column for FRUT!

On Fri, 24 Jan 2020 at 14:15, Alain Martin <notifications@github.com> wrote:

[2020-01-24 14:21] #589 closed

[2020-01-25 21:32] #587 closed

[2020-01-31 08:59] McMartin commented on #507
I've reworded the title of the issue back to what it was originally and I re-labeled the issue, because it is indeed a bug in how `Reprojucer.cmake` is passing the "Extra Linker Flags" to CMake.
It should be fixed by https://github.com/McMartin/FRUT/pull/591.

[2020-01-31 18:04] #507 closed

[2020-01-31 22:53] MartyLake commented on #534
LGTM

[2020-02-02 11:08] McMartin commented on #443
Some examples found on GitHub:
- https://github.com/jpiringer/LinearPredictionCoder/blob/1c9a3e107a90f0142296fa95b31f5f015e12836e/LinearPredictionCoder.jucer#L25
- https://github.com/olilarkin/pMix2/blob/b552566724fdf861c0c553c5b3c20def4078c493/pMix.jucer#L142

[2020-02-02 11:14] McMartin commented on #394
Some examples found on GitHub:
- https://github.com/centuryglass/MusicBox/blob/4d2808522a69b38cea20dee7e12270e2d8739bef/MusicBox.jucer
- https://github.com/Princeton-CDH/bitKlavier/blob/d3eeaf75154e7276d528f98bb154cf2c3242be75/bk_JUCE/bitKlavier/bitKlavier.jucer
- https://github.com/jbloit/auv3_juce_gen/blob/eb971cffd0669268d9fc4e7d2d21e348d1cf6d4c/chorus_auv3/chorus_auv3.jucer

[2020-02-02 11:15] McMartin commented on #445
Examples found on GitHub:
- https://github.com/OrganicOrchestra/LGML/blob/e3c3dde64096ba53ecb2a2fb95b4415bd7c5a004/LGML.jucer

[2020-02-02 16:29] #534 closed

[2020-02-08 15:02] #394 closed

[2020-02-08 16:18] #440 closed

[2020-02-11 09:32] eyalamirmusic opened #598 "Jucer2Reprojucer generates an absolute folder path"
Calling Jucer2Reprojucer sets the jucer file path to an absolute folder, rather than relative.

The result looks like that:
set(SpecialEffect_jucer_FILE
  "/Users/eyalamir/Code/JUCECmakeRepoPrototype/Plugins/SpecialEffect/SpecialEffect.jucer"
)

To reproduce, clone this demo repo:
https://github.com/eyalamirmusic/JUCECmakeRepoPrototype

And look at the generated CMakeLists.txt in any of the plugin

[2020-02-11 09:36] eyalamirmusic opened #599 "Using different binary name does not work properly"
Setting in the Projucer exporter a different binary name than the default one (under Xcode->Binary name) creates and executable that can't be run, at least under OSX.

To reproduce:
Clone the demo repo:
https://github.com/eyalamirmusic/JUCECmakeRepoPrototype

Look at "DifferentBinaryName" under the "Apps" folder.
Try to build, and then manually run "SpecialName.app".

[2020-02-13 13:17] McMartin commented on #598
@eyalamirmusic

Thanks a lot for using FRUT!

Currently, when you give an absolute path for the `.jucer` file to `Jucer2Reprojucer`, it writes it as-is in the generated `CMakeLists.txt` file. This means that calling `Jucer2Reprojucer /absolute/path/to/project.jucer` and `Jucer2Reprojucer project.jucer` don't result in the same `CMakeLists.txt` file. I should maybe fix that.

Let me know what you t

[2020-02-13 13:43] McMartin commented on #599
@eyalamirmusic

Thanks for reporting this bug!

There is a problem with the `Info.plist` written by `Reprojucer.cmake` when using a non-Xcode generator, such as Unix Makefiles (the default on macOS), or Ninja.

The bug is in these lines:
https://github.com/McMartin/FRUT/blob/d6d1049732184eaf1ec3d21a92d27336d9670b7c/cmake/Reprojucer.cmake#L4091-L4096

[2020-02-13 19:03] #599 closed

[2020-02-14 16:05] eyalamirmusic opened #602 "Feature request: support entitlements and hardened runtime on non-xcode builds for mac"
Currently, building on mac with CLion shows this messages:

[code]

[code]

[2020-02-17 08:07] McMartin commented on #602
For reference, you can "call `cmake -G Xcode`" in CLion:
![Screen Shot 2020-02-16 at 12 49 49](https://user-images.githubusercontent.com/747995/74634764-d4fab100-5164-11ea-993a-dfe4f590a245.png)

[2020-02-18 18:35] Xav83 commented on #29
Hi @MartyLake @McMartin,

I don't know if this issue is still relevant, but the tool [cmake-format](https://pypi.org/project/cmake-format/) may interest you for this.
We use actually it in Expressive projects, and it works really nicely 😉

[2020-02-19 21:19] McMartin commented on #29
Hi @Xav83,

Thanks for the pointer!

I ran `cmake-format` on the `CMakeLists.txt` files inside FRUT, and it found a few things that could be improved, so I opened https://github.com/McMartin/FRUT/pull/603 with these improvements.

I also tried running `cmake-format` on `Reprojucer.cmake`, but it seemed to hang... I guess formatting more than 6000 lines is hard 😅

[2020-02-19 21:23] eyalamirmusic commented on #598
Thanks! Yeah, ideally it would either write it in the working directory, or where JUCER is unless you explicitly specify some other folder...

[2020-02-19 21:25] eyalamirmusic opened #604 "FR: Start new projects with FRUT"
It would be great if the process of starting a new FRUT project without the Projucer would be simplified. Some templates, helper functions or both would really help! What do you think?

[2020-02-19 21:38] McMartin commented on #604
I think that is a great idea! There should be some template `CMakeLists.txt` files, or something similar to the "Create New Project" wizard in Projucer.

[2020-02-19 22:01] McMartin commented on #598
Assuming that the `CMakeLists.txt` file and the `.jucer` files are in the same directory doesn't work. For instance, FRUT contains a lot of `CMakeLists.txt` files (under [`generated/`](https://github.com/McMartin/FRUT/tree/master/generated)) to build the `examples` and `extras` from JUCE. Obviously these `CMakeLists.txt` files are not in the same directory as their corresponding `.jucer` file.

Al

[2020-02-20 00:41] eyalamirmusic opened #605 "Bug: Can't generate iOS project, unless iOS target exist for every single project."
Seems like if you try to generate an iOS project from a top level CMakeLists that contain multiple projects, it only works if *all* projects under that directory contain an iOS target.

I think it would be better if those projects are simply not added to the target list, so that one could still build the projects that do support that in a multi-project context.

[2020-02-20 16:08] eyalamirmusic commented on #605
Just got a report that a similar thing happens in CLion on Linux, even if you're missing the "Code::Blocks (Linux)" target. (for some reason the "Linux Makefile" target is not enough...)

[2020-02-22 17:38] eyalamirmusic commented on #604
Yes, absolutely.
I started a few of those in my repo recently, adding templates for a plugin, gui app, a console app and an app with custom modules.

What would help is access to some internal variables.

For examples, at the moment there's no way to access the target names (such as "Shared Code") and add configurations to those (such as include directories), since those variables are private.

So

[2020-02-22 17:42] eyalamirmusic commented on #602
Yes, that worked and removed those warnings, but also isn't the natural way of using CLion (and has weird behavior when you build/debug/etc) so it would be great if this could work without using that.

[2020-02-29 18:12] widmoser opened #607 "Use FRUT to build directly from CMake"
I would like to use FRUT together with CLion. CLion directly consumes cmake files and builds them. Is there a way to use FRUT to build the final artefacts (e.g. vst3, Standalone binary) directly from CMake?

[2020-02-29 21:15] McMartin commented on #598
@eyalamirmusic I've opened #608 to resolve this issue. Could you please confirm me that it works for you? Thanks!

[2020-03-01 10:18] McMartin commented on #607
Hi @widmoser,

Thanks a lot for your interest in FRUT!

I personally don't use CLion, but I know that many people are using FRUT with CLion, and I've heard that it is great! Let me know if you need help to get started.

Yes, this is exactly what FRUT allows you to do. You should try to follow the "Getting started" steps (https://github.com/McMartin/FRUT#getting-started) with an Audio Plug-In proje

[2020-03-01 11:25] McMartin commented on #605
Let's first see what is doable in a single-project context.

A developer calls `cmake -G Xcode -DCMAKE_SYSTEM_NAME=iOS` on a project. Does the project call `jucer_export_target("Xcode (iOS)")`?
- Yes. All good ✔️
- No. What should `Reprojucer` do then?
  - It silently doesn't add any target [1]. CMake will say "Configuring done" and "Generating done", and running `cmake --build` will work, but the

[2020-03-01 11:41] McMartin commented on #605
Since `Reprojucer` supports both "Linux Makefile" and "Code::Blocks (Linux)" exporters, it needs to choose between the 2 when running on Linux. It roughly does:
[code]

The default CMake generator on Linux is `Unix Makefiles`, but CLion calls `cmake -G "CodeBlocks - Unix Makefiles"`. To force the usage of the "Linux Makefile" exporter, you need to force CLion to use another CMake generator (by pro

[2020-03-01 11:45] McMartin commented on #463
(After more than a year, here is a better answer, which also closes this issue)

Since `Reprojucer` supports both "Linux Makefile" and "Code::Blocks (Linux)" exporters from Projucer, it needs to choose between the 2 when running on Linux. It roughly does:
[code]

The default CMake generator on Linux is `Unix Makefiles`, but CLion calls `cmake -G "CodeBlocks - Unix Makefiles"`. To force the usage o

[2020-03-01 11:45] #463 closed

[2020-03-01 12:05] eyalamirmusic commented on #605
Unfortunately that’s not a good solution for CLion, using any other exporter that isn’t the default one makes code completion/refactoring and other features broken...

[2020-03-01 12:07] eyalamirmusic commented on #605
Unfortunately using another exporter is not a good solution for CLion, using any other exporter that isn’t the default one makes code completion/refactoring and other features broken...

I’m on the latest CLion BTW, same as the user who reported the Linux issue.

[2020-03-01 12:09] eyalamirmusic commented on #605
As for iOS - it currently breaks the configure step when you do have some targets that are iOS friendly, but some that don’t. So I’d rather if in this case it would create a project with no targets which is valid - especially when you have sub projects that are valid under the same cmakelists.txt file.

[2020-03-01 12:38] McMartin commented on #605
I guess you mean "CMake generator" instead of "exporter". If CLion cannot properly handle another CMake generator, though [JetBrains claims so since CLion 2019.3](https://blog.jetbrains.com/clion/2019/10/clion-2019-3-eap-ninja-cmake-generators/), then it's a bug in CLion. That's not something FRUT should have to deal with.

[2020-03-01 12:46] eyalamirmusic commented on #605
It is a bug in CLion, but I don’t think FRUT should be tied with a particular type of cmake generator in order to build correctly, that defeats the purpose of Cmake in my opinion.

[2020-03-01 14:05] eyalamirmusic commented on #463
just to keep consistency, as mentioned in another thread, updating CLion does not solve the problem fully (not even using 2020.1 EAP, which I also have installed).

Even though CLion does support other exporters in terms of loading the project and building the targets, it doesn't know how to correctly do code parsing/refactoring with those exports, and debugger support is also not complete.

So ev

[2020-03-01 14:43] McMartin commented on #463
If a project does both `jucer_export_target("Linux Makefile" ...)` and `jucer_export_target("Code::Blocks (Linux)" ...)`, `Reprojucer` needs a way to decide where to get the settings from when building on Linux. Currently it checks whether `CMAKE_EXTRA_GENERATOR STREQUAL "CodeBlocks"`, because that's what makes the most sense.

If you have a better solution to decide between the "Linux Makefile" a

[2020-03-01 15:01] eyalamirmusic commented on #463
Definitely, if you decouple the step of setting linux-related variables into the targets from the part where you parse the projucer project, you can make it work regardless of which default target you choose for Linux, and even make it work manually if no such target exist.

Pseudo code:

[code]

[2020-03-01 15:14] McMartin commented on #463
This will be super confusing for people who are expecting `Reprojucer` to _reproduce_ Projucer.

Imagine I have a project that only supports the "Code::Blocks (Linux)" exporter and that does:
[code]
and I run `cmake -G "Unix Makefiles"` on Linux.

With your solution, `Reprojucer` will not complain about this project not supporting the "Linux Makefile" exporter and this will lead to my project buil

[2020-03-01 15:21] eyalamirmusic commented on #463
I think you misunderstood my intention, no current behaviour should be changed for people using FRUT on projucer project.

The actual logic of picking which target to draw from just needs to happen before adding the cmake targets. No need to add secret features or anything like that.

The logic should like that, roughly:
1. Parse Projucer project.
If the currently used generator can help us with d

[2020-03-01 15:23] eyalamirmusic commented on #463
Just to be clear, if your projucer project didn't have any linux targets at all, those variables will never be filled and a target won't be added at all, which is how I'd expect it to work (you can show a message about that... but not fail since it's possible having no linux targets for some sub project is the desired behavior.

[2020-03-01 15:59] McMartin commented on #463
"You need to choose what to add before adding it". Seems a bit tautological, but makes sense. Unless you are using "target" to mean two different things and then I don't know what you actually mean.

`Reprojucer` doesn't do that.

Whose choosing? Where is it defined? How can users of `Reprojucer` know about that?

This contradicts with the peudo code you wrote in https://github.com/McMartin/FRUT/i

[2020-03-01 17:52] #598 closed

[2020-03-01 18:39] #499 closed

[2020-03-01 18:39] #500 closed

[2020-03-05 17:40] OleksandrMatasovGL opened #610 "How do I link libraries or add sources"
I don't see any "add_executable". The generated code looks alien and uses own syntax.

* What target do I use to link to the library and how to do it, what is the target? Most important question.
* How do I add new source files? I see the table with source files - tried to add entries without success.

[2020-03-05 17:43] OleksandrMatasovGL commented on #604
Please no wizards. Can we do it UNIX way with a simple cmd-tool or CMake file to be able to write FindJUCE etc?

[2020-03-05 18:41] eyalamirmusic commented on #604
Just some plain CMake files with examples you can easily copy/paste and set variables would be fine.
+1 for no wizards.

[2020-03-07 11:14] McMartin commented on #610
Hi @OleksandrMatasovGL,

Thanks a lot for giving a try to FRUT!

`Reprojucer`, as its name suggests, is a CMake module that reproduces what Projucer does. `Reprojucer` provides [several commands](https://frut.readthedocs.io/en/latest/Reprojucer.cmake/index.html#commands) and most of them correspond to a setting panel in Projucer. So depending on how familiar your are with Projucer, the generated `

[2020-03-11 13:25] OleksandrMatasovGL commented on #610
Thank you! Keep going!

[2020-03-19 21:43] mhetrick opened #612 "Mac 10.10 and 10.9 builds do not work when compiled with 10.15 SDK"
Hello! This was a bug fixed in JUCE 5.4.6: https://forum.juce.com/t/plug-in-built-with-xcode-11-fails-to-load-on-yosemite-10-10/35912

Essentially, to fix this, the AudioUnit framework needs to be linked before AudioToolbox. In my FRUT-generated XCode project, I see this:

`OTHER_LDFLAGS = (
					"-bundle",
					"-Wl,-headerpad_max_install_names",
					"\"/Users/tricky/Code/uamaster/projects/byome

[2020-03-22 19:57] McMartin commented on #612
Hi @mhetrick,

Thanks a lot for using FRUT and for opening this issue!

I indeed didn't reproduce the changes made to Projucer in https://github.com/WeAreROLI/JUCE/commit/997b217179bc5b60e13fb78853ff9839dfcd664c to Reprojucer yet. I'll get to it ASAP!

[2020-03-22 20:34] McMartin commented on #612
I made a branch called [`fix-linking-against-AudioUnit-when-using-10.15-SDK`](https://github.com/McMartin/FRUT/tree/fix-linking-against-AudioUnit-when-using-10.15-SDK) and opened https://github.com/McMartin/FRUT/pull/613 to fix this issue.

@mhetrick could you please test with these changes? Thanks!

[2020-03-22 21:15] mhetrick commented on #612
@McMartin Great, thank you! I'll be working tomorrow and I will send a beta build to the affected user. I'll write back to you if it works successfully for him.

[2020-03-23 15:45] mhetrick commented on #612
@McMartin Great news, I can confirm that this fixed the issue that the user was having. Thank you for your help!

[2020-03-24 14:54] timuraudio opened #615 "FRUT compiles JUCE code again and again for multiple projects"
Is there any way we can avoid that? Currently, the best approach we could find is to manually compile JUCE into a static library and then link that.

[2020-03-24 22:16] cor3ntin commented on #615
We  managed to build a Static Library using FRUT an it actually works pretty well.
One issue though. On mac the framework are linked privately which causes some link error down the road.

https://github.com/McMartin/FRUT/blob/cb781034163dfc2cd81de0d2746d7a4dcc3369be/cmake/Reprojucer.cmake#L4764-L4789

It would be very helpful for us if that could be changed. For now, we will link manually

[2020-03-24 22:35] McMartin commented on #615
@timuraudio
Thanks a lot for using FRUT and for opening this issue!
Building a static library might indeed be the best approach for reducing the number of compiler invocations. I'll investigate how several projects can leverage the output of a shared "Static Library" project. It will be rather a hack, but it might be possible.

@cor3ntin
Linking against the macOS frameworks publicly would not solv

[2020-03-24 22:39] cor3ntin commented on #615
@McMartin That's taken care of!

We wrapped JuceHeader.h in an header which defines the global settings, include all the juce headers corresponding to the modules included in the static lib, then the JuceHeader.h of the project _consuming_ the static lib

[2020-03-24 22:52] McMartin commented on #615
@cor3ntin
That's exactly what I meant with "would not solve the whole problem", you need to add some custom hacks/workarounds.

[2020-03-24 22:52] #612 closed

[2020-03-24 22:56] cor3ntin commented on #615
@McMartin we did, it works for us!

However, it is unclear to me how much of what we do can be generalized as it can only works if the set of modules and some global settings are the same for all targets consuming the static library.

The frameworks things is one of the few things we had to duplicate to make it work though.
Other issue we had is that things like `JUCER_VST3_SDK_FOLDER` do not get

[2020-03-26 11:09] cor3ntin opened #617 "Add support for OBJECT libraries"
We would like to be able to create cmake OBJECT libraries ( https://gitlab.kitware.com/cmake/community/-/wikis/doc/tutorials/Object-Library ) with FRUT,
as static libraries have some limitations ( objects that only defines global objects used for their side effects are not linked, for example), and we don't care about having a short lived static library, even if the cost is negligible.

Is this so

[2020-03-26 20:52] McMartin commented on #617
@cor3ntin
Thanks for using FRUT and for opening this issue!

FRUT could support many types of CMake targets, including OBJECT libraries, but this would be outside of the scope of `Reprojucer.cmake`.

I am working on a `FindJUCE.cmake` module, which would be used with `find_package`. It is currently in an alpha state, and I will add it to FRUT at some point, once I find it good enough.

[2020-04-02 23:10] davispolito opened #619 "FRUT and CUDA"
So i am trying to use CUDA and JUCE. I have FRUT compiling without CUDA and I can make my CUDA stuff using CMAKE. I am trying to port my CMAKE and cuda code to work with FRUT/JUCE, but I get various errors.

Whenever I try to use the subdirectory/library method the cuda is simply not compiled and then cmake complains that it can't find <cuda.h> like this

[code]

If I try to simply cuda_compile an

[2020-04-05 16:51] McMartin commented on #619
Hi @davispolito,

Thanks a lot for using FRUT and for opening this issue!

I don't have any experience with CUDA, but I do have a lot of experience with CMake, and obviously JUCE and FRUT, so I'll be happy to help you.

I don't see any attached file. Please write a new comment and make sure that it contains links to the attached files.

[2020-04-05 17:12] McMartin commented on #619
How exactly do you want your project to be structured?
So far I can think of the following structures:
- a single JUCE-based target (`AddTard`) which builds everything (C++ and CUDA)
- one library target that builds the CUDA code (`kernel`), and a JUCE-based target (`AddTard`) that links against the CUDA library

Either way, according to https://cmake.org/cmake/help/latest/module/FindCUDA.html, CM

[2020-04-05 17:29] davispolito commented on #619
I would prefer to have a library target that gets added into JUCE-based target

[2020-04-06 17:39] davispolito commented on #619
so after updating my cmake from the deprecated FindCuda. I still cannot determine how to add the basic cuda libraries into my JUCE project.

i.e. it still cannot find cuda.h

[2020-04-06 17:49] davispolito commented on #619
ignore my previous comment Apparently it is also deprecated to include cuda.h and cuda_runtime.h. Thank you so much for pointing me in the right direction!

[2020-04-06 17:49] #619 closed

[2020-04-16 20:40] timuraudio opened #623 "Support JUCE 6"
Juce 6 replaces AppConfig.h with JucePluginDefines.h. It would be great if this would be supported in FRUT.

[2020-04-16 22:16] McMartin commented on #623
I opened https://github.com/McMartin/FRUT/pull/624 to support generating the `JucePluginDefines.h` header.

@timuraudio please let me know whether that addresses your issue as expected. Thanks!

[2020-04-19 05:49] izzyreal commented on #344
I'm also looking for Conan support. I would like to be able to resolve Conan packages with FRUT, such that library and header paths in a VS/Xcode/Makefile project point to `~/.conan/data/<some_package_name>/...`.

[2020-05-20 18:30] Xav83 opened #632 "Jucer2Reprojucer output file"
Hi @McMartin !

I hope everything is going fine for you ! 🙂

I was wondering if it would be possible to have some options in Jucer2Reprojucer to modify the location and the name of the generated file.

We are currently trying to automate all our internal build processes using cmake, and having the possibility to specify the name of the Jucer2Reprojucer generated file (which is currently `CMakeList

[2020-05-26 12:51] volkanozyilmaz opened #633 "PREBUILD and POSTBUILD for Linux Makefiles"
Hi Guys,

I see I can use `PREBUILD_SHELL_SCRIPT` and `POSTBUILD_SHELL_SCRIPT` for `OSX`.

I can also use  `PREBUILD_COMMAND` and `POSTBUILD_COMMAND` for `Windows (Visual Studio 201X)`.

I could't find any similar command for `Linux Makefiles`. Are there any similar functionality for `Linux Makefiles`?

Volkan

[2020-05-27 16:58] mhetrick opened #635 "iOS Build Warning and Error"
Hello, I just generated an iOS project using the command
`cmake -G \"Xcode\" -DCMAKE_SYSTEM_NAME=iOS ..`

When generating the project, I get a FRUT warning:

When building the project, I get an error with a missing AudioUnit framework during the linking stage:

[2020-05-27 20:34] McMartin commented on #635
Hi @mhetrick,

Thanks a lot for reporting these 2 issues: they are both bugs in FRUT 😅

I opened https://github.com/McMartin/FRUT/pull/636 to fix them.

[2020-05-28 17:10] mhetrick commented on #635
@McMartin Wow, thanks! That was fast. That branch fixes both issues for me.

[2020-05-29 05:24] #635 closed

[2020-05-31 21:13] McMartin commented on #632
Hi @Xav83,

Sorry for the late reply. Everything is going fine for me, and I hope the same for you and the @Expressivee team!

I have planned for quite some time to add an option to Jucer2Reprojucer to choose in which folder the `CMakeLists.txt` file is generated (instead of in the current working directory by default), but I hadn't considered giving the possibility to also choose the filename.

H

[2020-05-31 21:18] McMartin commented on #633
Hi Volkan,

`PREBUILD_SHELL_SCRIPT`, `POSTBUILD_SHELL_SCRIPT`, `PREBUILD_COMMAND`, and `POSTBUILD_COMMAND` correspond to the equivalent Projucer settings. Since Projucer doesn't have similar settings for the "Linux Makefile" exporter, `Reprojucer.cmake` doesn't have them either.

However, you can use the CMake command [`add_custom_command`](https://cmake.org/cmake/help/latest/command/add_custom_co

[2020-06-01 10:32] volkanozyilmaz commented on #633
Thanks for the reply McMartin. I ended up with the .sh files for now. I thought add_custom_comand section in CMakefiles.txt but I realized that when I run FRUT again, my command section will be lost. Somehow if we can add it with FRUT would be great.

[2020-06-01 10:32] #633 closed

[2020-06-06 06:59] Nintorac commented on #578
Hey,

I am trying to do this as well however I get an error like this `Cannot specify link libraries for target "NeuralDX7" which is not built this project.`

NeuralDX7 is the name of the project.

Additionally is it possible to add this through the projucer so I don't need to manually add to the cmake after running Frut?

[2020-06-06 12:54] McMartin commented on #578
Hi @Nintorac,

I guess that project is not a GUI Application but an Audio Plug-In. In that case, you should use:
[code]

You can indeed try to add `libtorch` to your project in Projucer, but it won't be as easy as adding a single line.

[2020-06-17 11:08] adamski commented on #623
Just out of interest, would using FRUT provide a shortcut to converting a Projucer-based project to JUCE 6 CMake (in this case not a plugin), and/or would it require some manual work?

[2020-06-21 18:50] McMartin commented on #623
@adamski FRUT doesn't provide such feature yet, but will soon. Stay tuned!

[2020-06-26 15:39] Xav83 opened #646 "Visual Studio 2019 - ClangCl Toolset - LTCG flag"
Hi @McMartin ,

In our project, we have been experimenting with `clangCl` as a toolset of Visual Studio 2019 to compile our project with clang on Windows.
Everything seems to work well, except for the flag `/LTCG` which triggers an error since it doesn't exist for `clang`. 😢

Since, we have only been experimenting with `clangCl`, disabling the flag manually in Visual Studio was good for us.
Regard

[2020-06-29 19:59] McMartin commented on #646
HI @Xav83,

I'm currently installing the Clang for Windows component of Visual Studio 2019. I'll give this a try and report back!

[2020-06-29 20:27] McMartin commented on #646
@Xav83 I can't reproduce the error 😅
Which version of CMake are you using and how is it called exactly?
Could you please also share the output of calling `cmake` in a new binary directory, when it detects the C/CXX compiler and its features?
Thanks!

[2020-07-09 04:58] E-Fir opened #648 "Can't build FRUT, windows 10, visual studio 19"
Hello! I am stuck at the first step:
[code]

[2020-07-09 19:59] McMartin commented on #648
Hi @E-Fir,

Thanks a lot for trying out FRUT!

Are you able to build other C++ projects using Visual Studio 2019? I can't read Russian, but these errors seem to show that CMake can't find certain components that are required to build C++ projects.

When I launch "Visual Studio Installer" and modify my "Visual Studio Community 2019" installation, I have the following components:

![image](https://u

[2020-07-13 08:37] E-Fir commented on #648
Yes, I can build the projects generated by the Projucer from the Visual Studio IDE.
Also, I can build C++ projects from the CLion using the Visual Studio toolchain (which uses cmake):
![Screenshot_11](https://user-images.githubusercontent.com/604302/87216727-07db5680-c34b-11ea-9cd3-37d2c99fc45f.jpg)

I have the same C++ development components installed:
![image](https://user-images.githubuserconte

[2020-07-13 08:43] E-Fir opened #649 "Can't convert JUCE 6.0.0 projects without .jucer file modification"
Jucer2CMake exits with the "is not a valid Jucer project" error for all my projects.
After debugging the FRUT, I have figured out that the jucer file is lack of the "jucerVersion" attribute in the root node.
Adding `jucerVersion="6.0.0"` to the root node resolves the issue.

[2020-07-13 19:37] McMartin commented on #648
I'm glad you can use FRUT!

[2020-07-13 19:37] #648 closed

[2020-07-13 20:21] McMartin commented on #649
@E-Fir thanks a lot for opening this issue and reporting this bug!
I opened https://github.com/McMartin/FRUT/pull/650, which should fix it.

[2020-07-16 06:11] #649 closed

[2020-07-24 11:22] jbloit commented on #490
Hi, I'm just starting out with Frut and unit testing. I'm trying to use your example-for-issue-490 branch for helping me getting started, as I want to unit test a Juce plugin. I'm almost there I think, I was able to compile everything and run the TestingExe target. Now I'd like to actually add a basic test to TestingExe/Source/Main.cpp. For instance, I could start out by checking the name of the p

[2020-07-24 13:41] jbloit commented on #490
For those interested, I solved my issue with the folllowing steps:

In Plugin490/CMakeLists.txt, I added
[code]
to the HEADER_SEARCH_PATHS field of the jucer_project_settings section.

Then I wrote a basic test with the following in TestingExe/Source/Main.cpp :

[code]

[2020-07-28 21:53] jjo148 commented on #623
I can see that JucePluginDefines.h is generated now, but the file is not copied into CMake's build directory and the AU target throws a fatal error because Rez cannot find the file. (Build succeeds after manually copying the file from JuceLibraryCode into build folder)

[2020-07-29 08:24] McMartin commented on #623
@jjo148 `Reprojucer.cmake` only generates files in the CMake build directory, so I guess the `JucePluginDefines.h` file that you see is the one written by Projucer. https://github.com/McMartin/FRUT/pull/624 hasn't been merged yet, so unless you did a Git checkout of the branch `generate-JucePluginDefines-header`, `Reprojucer.cmake` doesn't generate the `JucePluginDefines.h` yet.

I'll rebase https

[2020-07-29 09:03] #623 closed

[2020-09-08 08:52] rorywalsh opened #652 "JUCE 6 Cmake support...."
Hi @McMartin, this is more a question than an issue, is FRUT JUCE version agnostic? As far as you can tell, will FRUT work just fine with JUCE6 for example, even though it has its own CMake exporter? The reason I'm asking is I dearly want to ditch the Projucer, but don't have a license for JUCE6. I'm trying to decide if I should switch now, or wait till I can get my hands on JUCE 6.

I've use FRUT

[2020-09-13 19:34] McMartin commented on #652
Hi @rorywalsh,

FRUT tries to support JUCE from version 4.2.0 until the latest one (6.0.1 at time of writing). However, since there were a lot of changes in JUCE and Projucer over all these versions (spanning more than 4 years!), there might be bugs in FRUT, or things that FRUT doesn't do exactly like Projucer.

FRUT should work fine with JUCE 6 since I merged https://github.com/McMartin/FRUT/pull

[2020-09-14 08:22] rorywalsh commented on #652
Thanks @McMartin I think I would definitely feel more comfortable using your system than the one that JUCE supports now. Simply because you offer far better support! I'll reach out to you when I start the process of migration ;)

[2020-09-17 14:22] rorywalsh commented on #652
Just a follow up here. I thought that once I run:

`../FRUT/prefix/FRUT/bin/Jucer2CMake reprojucer myPlugin.jucer ../FRUT/prefix/FRUT/cmake/Reprojucer.cmake`

I would no longer need to have access to the FRUT source, and everything needed to build with Cmake, and generate project files would be in my project source folder. But it seems this is not the case as I need access to Reproducer.cmake. Is

[2020-09-17 20:23] McMartin commented on #652
What was installed under `../FRUT/prefix/FRUT` is all you need to use FRUT.

`Jucer2CMake` only writes a very simple `CMakeLists.txt` file. All the actual logic is in `Reprojucer.cmake` (which is more than 6000 lines long), and in the tools (BinaryDataBuilder, IconBuilder, PListMerger, and XcassetsBuilder) that it relies on.

[2020-09-19 10:57] rorywalsh commented on #652
`What was installed under ../FRUT/prefix/FRUT is all you need to use FRUT.`

Perfect. ;)

[2020-09-19 10:57] #652 closed

[2020-10-20 19:06] mhetrick opened #653 "Bad iOS Defaults for Bundle and Bitcode"
A FRUT-generated iOS project fails compilation due to conflicting flags:

[code]

Bitcode should be enabled by default. It looks like FRUT is adding the following linker arguments:

` -bundle -Wl,-headerpad_max_install_names  "/Users/tricky/Code/uamaster/projects/lowsat/iosbuild/Debug${EFFECTIVE_PLATFORM_NAME}/libUnfiltered Audio Bass Mint.a" -framework AVFoundation -framework Accelerate -framewor

[2020-10-25 15:51] McMartin commented on #653
@mhetrick sorry for the late reply, I was on vacation.

Please provide more details about that project:
- which type of project, GUI Application or Audio Plug-in? If it's an Audio Plug-in, which formats are enabled?
- which version of JUCE? (ideally a specific commit, or a full version)
- which version of CMake?
- which version of iOS is targeted?

I don't see anything in Projucer that enables bit

[2020-11-07 12:17] #520 closed

[2021-01-19 14:32] #653 closed

[2021-02-18 17:05] urenalopezl826 opened #674 "Error installing on Ubunutu 20.04: No package 'freetype2' found"
I'm trying to install FRUT in a docker containir running Ubuntu and MinGW-w64. My steps are

1. Clone the FRUT repo
2. Make a build folder in FRUT/build and go inside
3. Type `cmake .. -DCMAKE_INSTALL_PREFIX="../prefix" -DJUCE_ROOT="../../JUCE"`

The full error log I get is

`-- The C compiler identification is GNU 9.3.0
-- The CXX compiler identification is GNU 9.3.0
-- Detecting C compiler ABI i

[2021-02-18 20:40] urenalopezl826 commented on #674
Issue resolved by modifying the PKG_CONFIG_PATH environment variable and pointing to the freetype .pc file. (in my case /usr/lib/x86_64-linux-gnu/pkgconfig)

[2021-02-18 20:40] #674 closed

[2021-03-18 22:39] nicola-lunghi opened #677 "Making this permanent"
Hi
how can I make this permanent?

its possible to just add the cmake/ directory in my project and the generated cmakelists.txt to make in work or it needs some custom executables for the different platforms?

Thanks,
Nick

[2021-04-13 05:54] benediktsailer opened #680 "Company name missing from JuceHeader"
Currently the ProjectInfo::companyName field doesn't get added from the Jucer file, when the JuceHeader is generated through FRUT.

[2021-04-17 09:10] #680 closed

[2021-04-17 09:12] McMartin commented on #680
@benediktsailer this issue has been fixed by https://github.com/McMartin/FRUT/pull/681. Don't hesitate to open new GitHub issues for any problem/question you might have with FRUT. Please also consider starring the repository to give it more visibility, thanks!

[2021-05-06 14:00] benediktsailer opened #682 "app usage and juce badge CmakeLists.txt state"
Hi,

It seems the states for `REPORT_JUCE_APP_USAGE `and `DISPLAY_THE_JUCE_SPLASH_SCREEN` are not correctly added to the CmakeLists.txt when generating it with Reprojucer. Both states are set to ON automatically, even if they are disabled in Projucer.

[2021-05-06 14:33] #682 closed

[2021-05-06 14:34] benediktsailer commented on #682
When Projucer is logged in and you create a new project it will not add the relevant fields to the .jucer file. Hence FRUT fills it out with the standard setting...

[2021-05-27 11:18] steve-baker-cradle opened #684 "IconBuilder compilation on MSVC 16.10.0 requires the /bigobj flag"
When compiling on MSVC 16.10.0 I hit the following error:

### Failed to build `IconBuilder`

#### Versions

CMake: `3.20.2`
FRUT: commit 55f1c02cc836c08ec5469f64a3f8cc89ecb535fb
JUCE: unknown (no juce_core module)

#### CMake variables

[code]

#### Variables from `Reprojucer.cmake`

[code]

#### Output of `execute_process()`

[code]

Patching cmake\tools\juce_gui_basics.cmake to add:

[code]

se

[2021-05-27 20:36] McMartin commented on #684
@steve-baker-cradle thanks a lot for reporting this issue and for proposing a fix! I'll take care of fixing this as soon as possible.

[2021-05-28 08:40] #684 closed

[2021-05-28 08:41] steve-baker-cradle commented on #684
Thanks @McMartin!

[2021-06-04 12:05] dacrome opened #686 "EXTRA_CUSTOM_FRAMEWORKS - different path needed for CMake, but wrong in Xcode"
Hey FRUT devs,

thanks for this project, we really need the ability to build our desktop app via command line / CI.

We have a problem with the EXTRA_CUSTOM_FRAMEWORKS paths. We have custom c++ libs which we are using as frameworks in Xcode and Xcode expects to have a path which are relativ to the xcodeproj file. But when building with cmake, the paths have to be different, because it needs to be

[2021-06-06 10:22] McMartin commented on #686
Hi David,

Thanks for opening this issue. Based on what you are describing, it seems that there is a bug in `Reprojucer.cmake`. I'll have a look as soon as possible.

Cheers,
Alain

[2021-06-06 19:41] McMartin commented on #686
@dacrome I've opened PR #687, which should fix this issue. Please give it a try and let me know whether that works for you. Thanks!

[2021-06-07 09:27] dacrome commented on #686
wow, awesome! That was fast! Thanks!
I give it a try today, and give you feedback later.

[2021-06-07 13:54] dacrome commented on #686
Hey @McMartin,

the paths in `EXTRA_CUSTOM_FRAMEWORKS` are working now, but we found out we have the same problem with the `HEADER_SEARCH_PATHS`. I have to change them before running reprojucer...

Side note: When I changed the header search paths the compiler can use these headers and start to compile, but I get compile errors because our dependencies (c++ libs) using ambiguous references. I know

[2021-06-09 09:06] dacrome commented on #686
@McMartin works perfect! many thanks!

[2021-06-09 09:53] McMartin commented on #686
Let's keep this issue open until it is actually fixed in FRUT, i.e. when #687 is merged.

[2021-06-27 18:55] ArtmanUrgus opened #689 "Error by loading CMakeLists.txt to QtCreator"
Hello all,
I load the generated CMakeLists.txt file into QtCreator and get the following message from cmake

[code]

An error in the line
include(Reprojucer)

I'm not very familiar with Cmake, I've only built simple projects before.
How to add Reprojucer to the project correctly? Obviously cmake can't find the path to it but I'm not sure where is the Reprojucer file or how to add path explicitly?

[2021-06-27 19:12] McMartin commented on #689
Hi @ArtmanUrgus,

I guess line 8 of that `CMakeLists.txt` file contains
[code]
You can uncomment that line (i.e. remove the leading `#` character) and replace `<relative_path_to_FRUT>` with whatever is needed to go from that `CMakeLists.txt` file to the FRUT repository (something like `../FRUT`, `../../FRUT`, or `third-party/FRUT`).

I hope this helps!

[2021-06-27 20:02] ArtmanUrgus commented on #689
Thanks for your help McMartin,

your solution helped to eliminate the previous error. Now cmake reports the following problem

CMake` Error at F:/LIBRARIES/FRUT-main/FRUT-main/cmake/Reprojucer.cmake:2135 (message):
  You must call jucer_export_target_configuration("Code::Blocks (Windows)")
  before calling jucer_project_end().
Call Stack (most recent call first):
  CMakeLists.txt:166 `(jucer_proje

[2021-06-27 20:05] ArtmanUrgus commented on #689
OK, I found the solution:

[code]
Thank you very much again

[2021-08-20 11:42] t-scale opened #690 "install fails on macOS 10.14.6"
Following install guide with same folder structure.
Fails after both `cmake --build . --target install` and `cmake --build . --target install --parallel `

I've a lot of errors saying "JUCE requires C++14 or later".

I'm not sure why, as I've no issues with JUCE/Projucer and i've the latest Clang installed.
I'm on macOS Mojave (10.14.6). CMake 3.20.4. JUCE 6.

[2021-08-20 12:25] McMartin commented on #690
@t-scale thanks a bunch for trying out FRUT and for reporting this problem!

The root cause is a somewhat recent commit in JUCE (https://github.com/juce-framework/JUCE/commit/78be43888e92dc008e8fc6c467012a1137c98a55) that makes it require C++14 (instead of C++11), and I haven't made FRUT deal with that change yet.

The short term solution is to use an older commit of JUCE, for instance https://git

[2021-08-25 13:50] #690 closed

[2021-08-28 11:34] McMartin commented on #690
@t-scale you don't need to roll back to that JUCE commit, I've fixed the issue in FRUT itself (see https://github.com/McMartin/FRUT/pull/691). And now FRUT can build with JUCE 6.1.0 (see https://github.com/McMartin/FRUT/pull/692).

[2021-10-21 12:04] butchwarns opened #694 "CMake only builds Shared_Code, no VST3 on Fedora?"
I am trying to build an audio plugin with FRUT. On my old Mac everything works smoothly and as expected using **Unix Makefiles** as the CMake generator. When trying to do the same on my Linux machine (Fedora 34) `cmake --build` only builds **Shared_Code** and **Standalone** but no VST. Building works fine when using **Linux Makefile** as exporter in Projucer and just calling `make` directly.

Am I

[2021-10-25 09:58] #694 closed, assigned to nobody

[2021-10-28 16:02] benediktadams opened #700 "ARM support"
Currently building a JUCE project through FRUT ignores the ARM build target.

On Xcode I can build my Projucer build configuration for "All Apple Devices", so it compiles a universal binary for x86_64 and arm64.

I would expect FRUT to do the same if not otherwise specified with an `ARCH=x86_64` flag in the Custom XCode Flags field on Projucer, which is how you make XCode ignore the arm build targ

[2021-10-31 10:12] McMartin commented on #700
@benediktsailer thanks for opening this issue!

As discussed on Discord, one can pass `-DCMAKE_OSX_ARCHITECTURES="arm64;x86_64"` to `cmake` to make Universal Binary builds. However, `Reprojucer.cmake` should reproduce what Projucer does as closely as possible, so I consider this missing ARM support in FRUT a bug. I'll have a look at fixing it as soon as possible.

[2021-10-31 10:13] McMartin commented on #689
I'm closing this GitHub issue, since the OP found a solution.

[2021-10-31 10:13] #689 closed

[2021-11-29 14:19] Xav83 commented on #700
Hi @McMartin 🙂

I'm also experiencing a problem with the architectures `x86_64` and `arm64` on OSX.

Here is a little bit of context to explain the problem:
I am currently trying to upgrade the version of Xcode that we are using to the latest version (13.1), and I have issues with the plugin targets.
Actually, we are also using JUCE and FRUT to generates some static libraries, and everything works

[2021-11-29 15:04] Xav83 commented on #700
PPS: I don't know if this information is of some importance to you @McMartin , but, when using the generator `Unix Makefiles`, on OSX, we don't have any warning from the linker and everything is generating without error

[2021-11-29 15:16] Xav83 commented on #700
PPPS: Specifying the right value of the architecture (`x86_64`) to each configuration via the Xcode GUI, makes the build succeed ! So it seems that this is a "generation of the Xcode project" issue.

[2021-11-29 20:55] McMartin commented on #700
Hi @Xav83,

Thanks a lot for the very detailed report, as usual!

This cannot work currently because `Jucer2CMake` and `Reprojucer.cmake` don't know about that setting (you won't find `xcodeValidArchs` in `Jucer2CMake/src/reprojucer.hpp`, nor `VALID_ARCHITECTURES` in `cmake/Reprojucer.cmake`).

I started a branch about a month ago to add that missing feature, but I don't think it's in a good enoug

[2021-11-30 14:46] Xav83 commented on #700
@McMartin, thanks a lot for your quick answer! 🙂

The attributes `osxArchitecture` were indeed present in the jucer of our file.
Moreover, as you suggested, removing them corrected the issue on our project ! 😃

FYI, the attributes were specified like so, in our jucer file: `osxArchitecture="64BitIntel"`

[2021-11-30 14:51] McMartin commented on #700
@Xav83 awesome! This means I have a bit more time to polish my branch. I'll ping you here once it is ready, so you can test it and make sure that it doesn't break what is now working for you :smile:

[2022-02-03 11:39] benediktadams opened #709 "Console Application Reprojucer.cmake bug"
Reprojucer.cmake sets `XCODE_ATTRIBUTE_PRODUCT_BUNDLE_IDENTIFIER` when generating the .plist.
But there is no .plist for a Console Application.

This results in the following error, when trying to build a juce CommandLine Application project:
`error: Bundle identifier is missing. ProjectName doesn't have a bundle identifier. Add a value for PRODUCT_BUNDLE_IDENTIFIER in the build settings editor. (

[2022-02-03 20:58] McMartin commented on #709
@benediktadams thanks for reporting! I'll work on fixing this ASAP.

Out of curiosity, which version of Xcode are you using? I tried to reproduce the issue, but I could only try with Xcode 12.2 on macOS 10.15 Catalina.

[2022-02-04 08:00] benediktadams commented on #709
@McMartin I'm on macOS 11.6.2 and XCode 13.2.1

I can confirm this fixed it :) Thank you

[2022-02-04 09:53] benediktadams opened #711 "Mac: Reprojucer.cmake doesn't handle the code-signing style properly"
When setting a TeamID and a Signing Identity in Projucer, `CODE_SIGN_STYLE` has to be set to value `Manual` in the generated Xcode Project.

Otherwise Xcode will assume `automatic` signing and throw the error:

`ProductName has conflicting provisioning settings. ProductName is automatically signed for development, but a conflicting code signing identity Developer ID Application has been manually s

[2022-02-04 09:56] benediktadams opened #712 "C++20 support"
FRUT project generation only supports `CLANG_CXX_LANGUAGE_STANDARD` up to C++17 and falls back to C++14 otherwise. Projucer now also supports C++20.

https://github.com/McMartin/FRUT/blob/b9089b1073bf5033d05ec4485b55591538487595/Jucer2CMake/src/reprojucer.hpp#L727-751

[2022-02-06 20:43] McMartin commented on #711
@benediktadams I've opened https://github.com/McMartin/FRUT/pull/713 to fix this issue. Could you please confirm that it works for you? Thanks!

[2022-02-06 21:37] McMartin commented on #712
@benediktadams I've opened #714 to fix this issue. Could you please confirm that it works for you? Thanks!

[2022-02-07 09:56] benediktadams commented on #711
Can confirm it works! Thank you!

[2022-02-07 11:56] benediktadams commented on #712
Can also confirm this one! Thanks

[2022-02-12 15:48] #709 closed

[2022-02-17 17:13] VedantKalbag opened #716 "CMake error when building the project"
After following the build instructions in the getting started, I am able to generate the CMakeLists.txt file, however when building this file, I get the following error:
CMake Error: File /Users/vedant/Desktop/Programming/MUSI6106-Project/plugin_framework/GuitarAmpPlugin/data/JuceLibraryCode-Wrapper.cpp.in does not exist.
CMake Error at /Users/vedant/Desktop/Programming/MUSI6106-Project/plugin_fra

[2022-02-17 22:05] McMartin commented on #716
Hi @VedantKalbag,

Thank you very much for using FRUT!

I looked into your issue, and I can't really explain what is happening... It seems that `Reprojucer_data_DIR` is set to `plugin_framework/GuitarAmpPlugin`, when it should actually be `plugin_framework/FRUT/cmake/data`.

Could you please attach your `CMakeLists.txt` file to a new comment? Feel free to remove or anonymize any confidential data.

[2022-02-17 22:08] VedantKalbag commented on #716
Here you go!
Thanks for looking into it so soon!
[CMakeLists.txt](https://github.com/McMartin/FRUT/files/8092533/CMakeLists.txt)

[2022-02-17 22:46] McMartin commented on #716
That `CMakeLists.txt` looks perfectly fine 😄

Could you please attach the `CMakeCache.txt` file to a new comment? That file is written by CMake itself and is located at the root of the binary directory.

[2022-02-17 22:55] VedantKalbag commented on #716
Here's the CMakeCache.txt file from the <root>/GuitarAmpPlugin/build directory (there is no other such file in the project folder)
[CMakeCache.txt](https://github.com/McMartin/FRUT/files/8092751/CMakeCache.txt)

Additional info that may be useful:
After running "../FRUT/prefix/FRUT/bin/Jucer2CMake reprojucer GuitarAmpPlugin.jucer ../FRUT/prefix/FRUT/cmake/Reprojucer.cmake", the file that I shared

[2022-02-18 16:58] McMartin commented on #716
Hi @VedantKalbag,

Thanks for sharing the `CMakeCache.txt` file and the complete CMake output. Unfortunately, I couldn't find anything suspicious there as well 😅

But I haven't said my last word! Could you please try running
[code]
inside the `/GuitarAmpPlugin/build` directory and attach the resulting `trace-log.txt` file in a new comment? That file will contain every single command that CMake run

[2022-02-18 17:04] VedantKalbag commented on #716
Here you go!
[trace-log.txt](https://github.com/McMartin/FRUT/files/8099060/trace-log.txt)

Thanks again for taking a look at this!

[2022-02-18 18:08] VedantKalbag commented on #716
-- A: CMAKE_CURRENT_LIST_FILE = /Users/vedant/Downloads/check_CURRENT_LIST_vars/CMakeLists.txt
-- B: CMAKE_CURRENT_LIST_DIR = /Users/vedant/Downloads/check_CURRENT_LIST_vars
-- C: CMAKE_CURRENT_LIST_FILE = /Users/vedant/Downloads/check_CURRENT_LIST_vars/prefix/FRUT/cmake/Reprojucer.cmake
-- D: CMAKE_CURRENT_LIST_DIR = /Users/vedant/Downloads/check_CURRENT_LIST_vars/prefix/FRUT/cmake
-- Configuring

[2022-02-18 18:15] McMartin commented on #716
So CMake works in this simple case.

Could you please make an archive from `/Users/vedant/Desktop/Programming/MUSI6106-Project/plugin_framework/FRUT/prefix` (called `prefix.zip`) and attach it in a new comment?

[2022-02-18 19:00] VedantKalbag commented on #716
Here you go!
[prefix.zip](https://github.com/McMartin/FRUT/files/8099722/prefix.zip)

[2022-02-18 20:45] McMartin commented on #716
Two lines of `/Users/vedant/Desktop/Programming/MUSI6106-Project/plugin_framework/FRUT/prefix/FRUT/cmake/Reprojucer.cmake` are different from the original:
- line 36 is `set(Reprojucer.cmake_DIR ".")`, while the original is `set(Reprojucer.cmake_DIR "${CMAKE_CURRENT_LIST_DIR}")`
- line 93 is `set(JUCER_PROJECT_DIR "." PARENT_SCOPE)`, while the original is `set(JUCER_PROJECT_DIR "${CMAKE_CURRENT_SO

[2022-02-18 20:47] VedantKalbag commented on #716
This is strange, I haven't changed any files myself. Let me try setting these back to the original lines and try again

[2022-02-18 21:08] VedantKalbag commented on #716
[code]

[2022-02-18 21:11] McMartin commented on #716
This seems to be an occurrence of the problem I described in https://github.com/McMartin/FRUT/issues/573#issuecomment-573748075.

Please replace any line like
[code]
with
[code]

[2022-02-18 21:15] VedantKalbag commented on #716
That has fixed it, thank you for all your help!

[2022-02-18 21:24] McMartin commented on #716
I'm glad you got it working 🙂
Feel free to open a new GitHub issue if you have any problem or question.

[2022-02-18 21:24] #716 closed

[2022-03-06 10:37] McMartin commented on #632
I reworded the title of this issue since Jucer2Reprojucer was deprecated in favor of Jucer2CMake in https://github.com/McMartin/FRUT/pull/645, then removed in https://github.com/McMartin/FRUT/pull/701.

[2022-03-06 10:38] #610 closed

[2022-03-06 10:38] #607 closed

[2022-03-18 08:43] SuganthanBC opened #721 "Bug: Cannot compile Windows VST3 target: Extra strings get inserted in VST3's .vcxproj"
Problem: When converting a jucer project(JUCE 6.1.5) to cmake via FRUT reprojucer and compiling VST3 target ended up some syntax errors in the juce's VST3_Wrapper header file.

Martin suggested to compare FRUT reprojucer generated VST3.vcxproj with the one generated by projucer after which I found that in certain places of reprojucer generated VST3.vcxproj, the entries JucePlugin_ManufacturerCode,

[2022-03-20 20:54] McMartin commented on #721
@SuganthanBC Thanks a lot for finding and reporting that bug! I'll take care of fixing it ASAP.

[2022-03-22 21:57] #721 closed

[2022-07-15 15:19] Riuzakiii opened #726 "Issue with "Header Search Paths" and "Extra Library Search Paths" in exporter"
Hi,

First of all, thanks for maintaining this project ! Here is my issue :

The project I'm working on uses relative paths for the "Header Search Paths" and "Extra Library Search Paths" in the exporter settings of Projucer. Switching to FRUT, the headers added using the "Header Search Paths" were unfound.

The reason seems to be the following
1.  _Jucer2CMake_ converts the relative paths of "Head

[2022-07-16 06:37] McMartin commented on #726
Hi @Riuzakiii,

Thanks a lot for reporting this bug!

In https://github.com/McMartin/FRUT/pull/687, I tried to fix the issues related to settings that contain paths relative to the target project directory, but it seems that I missed these...

I left a few comments on your changes: they go in the right direction, but would need a bit of polish to be merged. Feel free to open a pull request though!

[2022-07-16 12:04] Riuzakiii commented on #726
Thanks, I made changes based on your comments and switched to using a `develop` branch instead of `main`. Here's the pull request : https://github.com/McMartin/FRUT/pull/727

[2022-07-19 21:45] #726 closed

[2022-07-23 09:54] #700 closed

[2022-07-27 06:28] benediktadams opened #735 "Adding LV2 build support to FRUT"
Juce 7 now supports [the LV2 plugin format](https://lv2plug.in/).

It's enabled via Projucer the same way the other formats are enabled, by adding a value to the JUCERPROJECT/pluginFormats property: `buildLV2` (as compared to `buildVST3` for VST3 for example)

[2022-07-31 11:29] McMartin opened #737 "Reprojucer.cmake doesn't support the setting `USE_PRECOMPILED_HEADER`"
If you would like `Reprojucer.cmake` to support the setting `USE_PRECOMPILED_HEADER` ("Use Precompiled Header" in Projucer), please leave a comment on this issue.

[2022-07-31 11:43] McMartin opened #738 "Reprojucer.cmake doesn't support the setting `USE_LEGACY_BUILD_SYSTEM`"
If you would like `Reprojucer.cmake` to support the setting `USE_LEGACY_BUILD_SYSTEM` ("Use Legacy Build System" in Projucer), please leave a comment on this issue.

[2022-07-31 15:07] McMartin opened #739 "Reprojucer.cmake doesn't support the setting `USE_IPP_LIBRARY_ONE_API`"
If you would like `Reprojucer.cmake` to support the setting `USE_IPP_LIBRARY_ONE_API` ("Use IPP Library (oneAPI)" in Projucer), please leave a comment on this issue.

[2022-07-31 15:07] McMartin opened #740 "Reprojucer.cmake doesn't support the setting `USE_MKL_LIBRARY_ONE_API`"
If you would like `Reprojucer.cmake` to support the setting `USE_MKL_LIBRARY_ONE_API` ("Use MKL Library (oneAPI)" in Projucer), please leave a comment on this issue.

[2022-08-06 14:42] jdh9862 opened #742 "JUCE 7 causing "Undefined symbols for architecture x86_64""
I recently updated to JUCE 7, and began getting this error when I try to build with CLion using CMake
[code]

From a little digging, I think something is up with how FRUT is generating the CMake file. I am still able to build/run my code with Xcode using Projucer.

[2022-08-06 15:02] McMartin commented on #742
@jdh9862 thanks for using FRUT!

Basic support for JUCE 7 was added in https://github.com/McMartin/FRUT/pull/724, which was merged 19 days ago. Which commit of FRUT are you using?

[2022-08-06 16:06] jdh9862 commented on #742
I am at the head of main. I see the commit you are referring to, but I am still experiencing this issue. I have tried deleting  `CMakeLists.txt` and `cmake-build-debug` to try to get a clean build, but the error is persisting.

[2022-08-06 22:01] McMartin commented on #742
@jdh9862 Could you please add these two lines to your `CMakeLists.txt` file (after the line that contains `include(Reprojucer)`):
[code]
and tell me what `Reprojucer.cmake`'s hash is?
Thanks!

[2022-08-08 18:38] jdh9862 commented on #742
`-- Reprojucer.cmake's hash is: 5ac16e71c903c33f9331c81d8910728d7112d0d0`

[2022-08-08 18:55] McMartin commented on #742
@jdh9862 I'm sorry, I edited my previous comment and changed the second line to add. Could you please edit your CMakeLists.txt to match and give me the output?

[2022-08-08 18:57] jdh9862 commented on #742
`-- 5ac16e71c903c33f9331c81d8910728d7112d0d0  /Users/jameshindal/FRUT/prefix/FRUT/cmake/Reprojucer.cmake`

[2022-08-08 20:52] McMartin commented on #742
@jdh9862 `FRUT/prefix/FRUT/cmake/Reprojucer.cmake` was copied from `FRUT/cmake/Reprojucer.cmake` when you ran `cmake --build . --target install` inside of `FRUT/build`. The files under `FRUT/prefix` don't get updated by checking out a different commit.

You either need to:
1. update all the files that are located under `FRUT/prefix` by running
[code]

2. use `FRUT/cmake/Reprojucer.cmake` in your `

[2022-08-08 22:43] jdh9862 commented on #742
That fixed everything, thank you :)

[2022-08-09 07:58] #742 closed

[2022-08-26 20:37] pknock-Fender opened #743 "Invalid Audio IO Settings in Standalone Linux Project"
I have a standalone Linux Juce project that I've converted to cmake via FRUT, and it doesn't populate the Audio/Midi settings with the same audio IO settings. None of the available settings work and selecting any of them results in the error shown below. Is this a bug or is there something additional I need in my CMakeLists.txt configuration? Could this have something to do with JACK/ALSA?

## IO

[2022-08-27 23:56] McMartin commented on #743
Hi @pknock-Fender

Thank you for using FRUT!

Could you please attach (in a new comment):
- the `.jucer` project file or the `Makefile` generated by Projucer, and
- the `CMakeLists.txt` file you use with FRUT?

Feel free to edit/remove any sensitive information from these files. You might have to append the `.txt` extension to make GitHub accept the attachments.

With these files, I should be able

[2022-09-01 06:08] pknock-Fender commented on #743
Thanks so much for your help @McMartin. I've taken a little more time to narrow it down, and I think the problem is in trying to link libtorch into the project.

Is my understanding correct that after generating the CMakeLists.txt file, in order to link libtorch, I need to do the following?
- In CMakeLists.txt, add:
[code]
- When building, do the following (on linux):
`cmake .. -G "Unix Makefiles"

[2022-09-03 09:02] McMartin commented on #743
Hi @pknock-Fender

I don't see how linking `libtorch` is related to the "Invalid Audio IO Settings" you originally reported. If the "Invalid Audio IO Settings" have been fixed, please close this issue.  I'm happy to discuss linking `libtorch` in a new issue.

[2022-09-06 17:55] pknock-Fender commented on #743
Sorry about that. Something I considered trying is to compile it as a VST instead of standalone and see if I can get it to work that way. Either way, I'll follow up with this. Thanks again for your help

[2022-09-07 18:18] #743 closed

[2022-09-10 11:51] jackfruit2 opened #745 "Question: Release build containing local build strings"
Hi @McMartin,

Apologies for the noob question. I'm fairly new to C++, CMake, JUCE and FRUT. Gotta start somewhere right ;). Firstly thanks for this amazing tool, it great to be able to build a whole project from the commandline rather than reliance on a GUI etc.

I'm experimenting with both JUCE and FRUT at the moment, with the intention of creating a hardened release build. When running an build

[2022-09-12 23:18] jackfruit2 commented on #745
Hi @McMartin,

Thanks for your timely reply.

Please find the replication instructions to reproduce the issue that im facing:
Note: Im using macOS Montery

### Instructions

1. Create a HelloWorld VST3 plugin using JUCE 7.0.1
2. Follow the readme instructions to create a vanilla FRUT project (found here: https://github.com/McMartin/FRUT)
3. Configure the CMakeLists.txt to include the following juc

[2022-10-19 20:37] benediktadams opened #747 "Trailing whitespace bug on JUCEOPTIONS definitons in modules"
Defining a config option in a module like the following can break, if the config name has trailing whitespace (so some space behind `Config: SomeOption`. This results in the config not being translated to CMakeLists.txt properly by Reprojucer and instead always showing up commented out in the CMakeLists.txt, no matter what it's actually set to in Projucer.

[code]

will end up in the CMakeLists.tx

[2022-11-23 20:37] McMartin commented on #747
@benediktadams Thanks a lot for finding and reporting this bug! It should be resolved by https://github.com/McMartin/FRUT/pull/748.

[2022-11-24 13:40] #747 closed